<section class="accomodation">
  <div class="container">
    <div class="accomodation__block">
      <div class="accomodation__left">
        <div class="accomodation__images">
          <div class="swiper accomodation__images-slider" data-main-slider>
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <!-- <a href="#"> -->
                <img src="/img/next-camp/acc-1.jpg" alt="" loading="lazy">
              <!-- </a> -->
            </div>

            <div class="swiper-slide">
              <!-- <a href="#"> -->
                <img src="/img/next-camp/acc-2.jpg" alt="" loading="lazy">
              <!-- </a> -->
            </div>

            <div class="swiper-slide">
              <!-- <a href="#"> -->
                <img src="/img/next-camp/acc-3.jpg" alt="" loading="lazy">
              <!-- </a> -->
            </div>

            <div class="swiper-slide">
              <!-- <a href="#"> -->
                <img src="/img/next-camp/acc-4.jpg" alt="" loading="lazy">
              <!-- </a> -->
            </div>

            <div class="swiper-slide">
              <!-- <a href="#"> -->
                <img src="/img/next-camp/acc-1.jpg" alt="" loading="lazy">
              <!-- </a> -->
            </div>

            <div class="swiper-slide">
              <!-- <a href="#"> -->
                <img src="/img/next-camp/acc-2.jpg" alt="" loading="lazy">
              <!-- </a> -->
            </div>

            <div class="swiper-slide">
              <!-- <a href="#"> -->
                <img src="/img/next-camp/acc-3.jpg" alt="" loading="lazy">
              <!-- </a> -->
            </div>

            <div class="swiper-slide">
              <!-- <a href="#"> -->
                <img src="/img/next-camp/acc-4.jpg" alt="" loading="lazy">
              <!-- </a> -->
            </div>
          </div>
        </div>

        <div class="swiper accomodation__images-mini-slider" data-mini-slider>
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <!-- <a href="#"> -->
                <img src="/img/next-camp/acc-1.jpg" alt="" loading="lazy">
              <!-- </a> -->
            </div>

            <div class="swiper-slide">
              <!-- <a href="#"> -->
                <img src="/img/next-camp/acc-2.jpg" alt="" loading="lazy">
              <!-- </a> -->
            </div>

            <div class="swiper-slide">
              <!-- <a href="#"> -->
                <img src="/img/next-camp/acc-3.jpg" alt="" loading="lazy">
              <!-- </a> -->
            </div>

            <div class="swiper-slide">
              <!-- <a href="#"> -->
                <img src="/img/next-camp/acc-4.jpg" alt="" loading="lazy">
              <!-- </a> -->
            </div>

            <div class="swiper-slide">
              <!-- <a href="#"> -->
                <img src="/img/next-camp/acc-1.jpg" alt="" loading="lazy">
              <!-- </a> -->
            </div>

            <div class="swiper-slide">
              <!-- <a href="#"> -->
                <img src="/img/next-camp/acc-2.jpg" alt="" loading="lazy">
              <!-- </a> -->
            </div>

            <div class="swiper-slide">
              <!-- <a href="#"> -->
                <img src="/img/next-camp/acc-3.jpg" alt="" loading="lazy">
              <!-- </a> -->
            </div>

            <div class="swiper-slide">
              <!-- <a href="#"> -->
                <img src="/img/next-camp/acc-4.jpg" alt="" loading="lazy">
              <!-- </a> -->
            </div>
          </div>
        </div>
        </div>
      </div>

      <div class="accomodation__right">
        <h2 class="h2 accomodation__title">Moscow Country Club</h2>
        <p class="p2 accomodation__text">Проживание в Москоу Кантри Клаб на 2х человек в комфортабельных коттеджах</p>
        <div class="accomodation-price">
          <h3 class="h4 accomodation-price__title">В стоимость включено:</h3>
          <ul class="accomodation-price__list">
            <li class="p2 accomodation-price__item">
              Завтрак
            </li>
            <li class="p2 accomodation-price__item">
              Спа
            </li>
            <li class="p2 accomodation-price__item">
              Кухня и барбекю зона
            </li>
            <li class="p2 accomodation-price__item">
              8 часов тенниса
            </li>
            <li class="p2 accomodation-price__item">
              3 интенсивные тренировки по 1,5 ч
            </li>
            <li class="p2 accomodation-price__item">
              Группы по 4 человека в соответствии с уровнем
            </li>
            <li class="p2 accomodation-price__item">
              Тематический турнир Rolland Garros
            </li>
            <li class="p2 accomodation-price__item">
              Тренировки и турнир будут проходить в Tennis family (15 минут на машине от Москоу Катри Клаб).
            </li>
            <li class="p2 accomodation-price__item">
              Досуг: просмотры теннисных матчей, теннисные квизы, волейбол, катание на вейках, баня, вечерние посиделки, настольные игры, мафия, покер и еще много всего.
            </li>
          </ul>
        </div>

        <!-- Переход на сайт https://moscowcountryclub.ru -->
        <a href="https://moscowcountryclub.ru" class="yellow-btn accomodation__btn">Подробнее</a>
      </div>
    </div>
  </div>
</section>
