<section class="coaches">
  <div class="container">
    <div class="coaches__block">
      <h2 class="h1 coaches__title">В этом кэмпе с вами будут</h2>

      <ul class="list-reset coaches-list">
        <li class="coaches-list__item">
          <div class="coaches-list__image">
            <img src="/img/next-camp/coach-1.jpg" alt="">
          </div>
          <div class="coaches-list__content">
            <svg>
              <use xlink:href="/img/sprite.svg#ball"></use>
            </svg>
            <div class="h3 coaches-list__name">
              <span>Александра</span>
              <span>Нарожная</span>
            </div>
          </div>
        </li>
        <li class="coaches-list__item">
          <div class="coaches-list__image">
            <img src="/img/next-camp/coach-2.jpg" alt="">
          </div>
          <div class="coaches-list__content">
            <svg>
              <use xlink:href="/img/sprite.svg#ball"></use>
            </svg>
            <div class="h3 coaches-list__name">
              <span>Александр</span>
              <span>Нарожный</span>
            </div>
          </div>
        </li>
        <li class="coaches-list__item">
          <div class="coaches-list__image">
            <img src="/img/next-camp/coach-3.jpg" alt="">
          </div>
          <div class="coaches-list__content">
            <svg>
              <use xlink:href="/img/sprite.svg#ball"></use>
            </svg>
            <div class="h3 coaches-list__name">
              <span>Анастасия</span>
              <span>Беляй</span>
            </div>
          </div>
        </li>
        <li class="coaches-list__item unknown">
          <div class="coaches-list__image">

          </div>
          <div class="coaches-list__content">
            <svg>
              <use xlink:href="/img/sprite.svg#ball"></use>
            </svg>
            <div class="h3 coaches-list__name">
              <span>Тренер ещё </span>
              <span>определяется</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
