<section class="program">
  <div class="container">
    <div class="program__titles">
      <h2 class="h1 program__title">Программа кэмпа</h2>
      <p class="p2 program__text">*Расписание является приблизительным, могут быть внесены изменения в зависимости от количества участников, погодных условий и т.д. Не является офертой.</p>
    </div>

    <ul class="list-reset program-list">
      <li class="program-list__item">
        <date class="h4 program-list__date">7.06</date>
        <div class="program-list__image">
          <img src="/img/next-camp/program-1.jpg" alt="">
        </div>
        <ul class="list-reset program-list__list">
          <li class="p2 program-list__list-item">15:00 - заезд</li>
          <li class="p2 program-list__list-item">17:00 - 20:00 - тренировка 1,5 ч</li>
          <li class="p2 program-list__list-item">21:00 - ужин, вечер знакомств</li>
        </ul>
      </li>
      <li class="program-list__item">
        <date class="h4 program-list__date">8.06</date>
        <div class="program-list__image">
          <img src="/img/next-camp/program-2.jpg" alt="">
        </div>
        <ul class="list-reset program-list__list">
          <li class="p2 program-list__list-item">8:00 - 10:00 - завтрак</li>
          <li class="p2 program-list__list-item">10:00 - 13:00 - тренировка 1,5 ч </li>
          <li class="p2 program-list__list-item">14:00 - обед </li>
          <li class="p2 program-list__list-item">15:00 - пляжный волейбол/гольф/спа/рыбалка/прогулка на лодке </li>
          <li class="p2 program-list__list-item">17:00 - 20:00 - тренировка 1,5 ч  </li>
          <li class="p2 program-list__list-item">21:00 - ужин, теннисный квиз</li>
        </ul>
      </li>
      <li class="program-list__item">
        <date class="h4 program-list__date">9.06</date>
        <div class="program-list__image">
          <img src="/img/next-camp/program-3.jpg" alt="">
        </div>
        <ul class="list-reset program-list__list">
          <li class="p2 program-list__list-item">8:00 - 10:00 - завтрак </li>
          <li class="p2 program-list__list-item">10:00 - 13:00 - тренировка 1,5 ч</li>
          <li class="p2 program-list__list-item">14:00 - обед </li>
          <li class="p2 program-list__list-item">15:00 - пляжный волейбол/гольф/спа/рыбалка/прогулка на лодке  </li>
          <li class="p2 program-list__list-item">17:00-20:00 - тренировка 1,5 ч</li>
          <li class="p2 program-list__list-item">21:00 - ужин, просмотр теннисного матча, игры : покер, мафия, элиас</li>
        </ul>
      </li>
      <li class="program-list__item">
        <date class="h4 program-list__date">10.06</date>
        <div class="program-list__image">
          <img src="/img/next-camp/program-4.jpg" alt="">
        </div>
        <ul class="list-reset program-list__list">
          <li class="p2 program-list__list-item">8:00 - 11:00 - завтрак</li>
          <li class="p2 program-list__list-item">11:00 - 12:00 - выселение</li>
          <li class="p2 program-list__list-item">11:00 - 17:00 - тематический теннисный турнир Roland Garros</li>
        </ul>
      </li>
    </ul>
  </div>
</section>
