<section class="reason">
  <div class="swiper js-reason-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="reason__slide">
          <img src="/img/next-camp/reason-1.jpg" class="reason__img" alt="">
          <h3 class="h3 reason__title">
            Почему мы?
            <svg>
              <use xlink:href="/img/sprite.svg#arrow-left"></use>
            </svg>
          </h3>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="reason__slide">
          <img src="/img/next-camp/reason-2.jpg" class="reason__img" alt="">
          <h3 class="h3 reason__title">
            8 лет опыта
          </h3>
          <p class="p1 reason__text">Мы провели 30+ кэмпов (даже в ковид). У нас свой туристический отдел. Каждого участника кэмпа курирует персональный менеджер</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="reason__slide">
          <img src="/img/next-camp/reason-3.jpg" class="reason__img" alt="">
          <h3 class="h3 reason__title">
            Новые знакомства, друзья
          </h3>
          <p class="p1 reason__text">Мы всегда говорим, что самое ценное в наших сборах - это люди. Открытые, добрые, веселые - они всегда поддержат, вдохновят и сделают поездку незабываемой</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="reason__slide">
          <img src="/img/next-camp/reason-4.jpg" class="reason__img" alt="">
          <h3 class="h3 reason__title">
            Досуг, который запомнится
          </h3>
          <p class="p1 reason__text">В поездках мы не только много играем в теннис, но и путешествуем, танцуем, катаемся на вейках, шопимся, ездим в новые места, ходим в музеи, устраиваем квизы, мафию и другие игры</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="reason__slide">
          <img src="/img/next-camp/reason-5.jpg" class="reason__img" alt="">
          <h3 class="h3 reason__title">
            Прогресс
          </h3>
          <p class="p1 reason__text">Теннисные лекции, видео-разборы каждого игрока, уроки по тактике и психологии, совместные просмотры матчей. Мы прокачаем не только тело, но и mentality</p>
        </div>
      </div>
    </div>

    <div class="reason__btns">
      <div class="swiper-button-prev reason__btn js-reason-prev"></div>
      <div class="swiper-button-next reason__btn js-reason-next"></div>
    </div>
    <div class="swiper-pagination reason__pagination js-reason-pagination"></div>
  </div>
</section>
