<section class="top-content">
  <div class="container">
    <div class="top-content__block">
      <div class="top-content__left">
        <date class="date-tab h4 top-content__date">7 – 9 июня</date>
        <h1 class="h1 top-content__title">Теннисные сборы в Moscow Country Club</h1>
        <p class="p2 top-content__text">3 дня тенниса, большой Турнир Roland Garros, совместные просмотры матчей, барбекю, баня и песни под луной в прекрасной компании. Мы перезагрузим тебя полностью за выходные</p>
        @include('../../common/timer.html', {
          'date': '2025-01-01',
        })
        <button class="yellow-btn top-content__btn">Забронировать</button>
      </div>

      <div class="top-content__right">
        <div class="polaroid top-content__img img1">
          <img src="/img/next-camp/img-1.jpg" alt="" class="">
        </div>
        <div class="polaroid top-content__img img2">
          <img src="/img/next-camp/img-2.jpg" alt="" class="">
        </div>
        <div class="polaroid top-content__img img3">
          <img src="/img/next-camp/img-3.jpg" alt="" class="">
        </div>
      </div>
    </div>
  </div>
</section>
