<section class="contacts section">
  <div class="container">
    <div class="contacts__block">
     <div class="contacts__titles">
      <h2 class="h1 contacts__title">
        Контакты и адрес
      </h2>
      <p class="p2 contacts__text">
        Наша школа тенниса находится в Красногорске, в 2-х минутах от МКАД на территории Парк Рублёво. В непосредственной близости расположен яхт-клуб, где вы можете насладиться вейксёрфингом и водными лыжами или взять напрокат катер
      </p>
     </div>

      <div class="contacts__bottom">
        <div id="contacts-map" class="contacts__map" style=""></div>
        <div class="contacts-right">
          <div class="contacts-right__item">
            <h3 class="h4 contacts-right__title">Адрес</h3>
            <p class="p2 contatcs-right__text">Красногорск, 6-я Мякининская улица</p>
            <p class="p2 contatcs-right__text">Режим работы – круглосуточно</p>
          </div>
          <div class="contacts-right__item">
            <h3 class="h4 contacts-right__title">Контакты</h3>
            <p class="p2 contacts-right__text">Телефон: <a href="tel:+74996435293">+7 (499) 643-52-93</a></p>
            <p class="p2 contacts-right__text">Почта: <a href="mailto:play@10is.ru">play@10is.ru</a></p>
            <p class="p2 contacts-right__text">Telegram: <a href="#">@tennis10is</a></p>
            <p class="p2 contacts-right__text">Instagram: <a href="#">@tennis.10is</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
