<section class="section top-content">
  <div class="container">
    <div class="top-content__top">
      <div class="top-content__top-left">
        <h1 class="h1 top-content__title">
          Аренда кортов в 10IS
        </h1>
        <p class="p2 top-content__text">
          Предлагаем аренду двух открытых теннисных кортов в Красногорске на границе с Москвой, расположенных в живописном месте на берегу Москвы-реки. У нас вы найдете корты с грунтовым покрытием и искусственной травой, оборудованные системой освещения для комфортной игры в любое время суток
        </p>
      </div>
      <a href="#" class="yellow-btn top-content__link">Забронировать онлайн</a>
    </div>
    <div class="top-content__bottom">
      <img src="/img/court/court-1.jpg" alt="Аренда кортов в 10IS">
      <img src="/img/court/court-2.jpg" alt="Аренда кортов в 10IS">
    </div>
  </div>
</section>
