.hero {
  position: relative;
  margin-bottom: 150px;
  height: 100dvh;
  background-color: $black-color;
  border-radius: 40px;
  overflow: hidden;
  @include desktop {
    margin-bottom: 114px;
  }
  @include tablet {
    margin-bottom: 100px;
  }
  @include mobile {
    border-radius: 30px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #0000004D;
  }

  &__video {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  & img {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    width: 393px;
    height: 220px;
    translate: -50% -50%;
    z-index: 2;
    @include desktop {
      width: 321px;
      height: 181px;
    }
    @include tablet {
      width: 321px;
      height: 171px;
    }
    @include mobile {
      width: 179px;
      height: 100px;
    }
  }
}
