.partners {
  padding: 80px 0;
  background-image: url('../img/main/partners-back.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 40px;
  @include desktop {
    padding: 30px 0 30px;
  }
  @include tablet {
    padding: 100px 0 50px;
  }
  @include mobile {
    border-radius: 20px;
  }

  &__block {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    @include tablet {
      flex-direction: column;
      justify-content: center;
      gap: 34px;
    }
    @include mobile {
      gap: 40px;
    }
  }

  &__title {
    max-width: 372px;
    color: $white-color;
    @include desktop {
      margin-top: 30px;
    }
    @include tablet {
      margin-top: 0;
      text-align: center;
      max-width: unset;
    }
    @include mobile {
      margin-bottom: 40px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    max-width: 800px;

    @include desktop {
      gap: 20px;
      max-width: 659px;
    }
    @include tablet {
      margin: 0 auto;
      max-width: 580px;
    }
    @include mobile {
      grid-template-columns: repeat(2, 1fr);
      gap: 18px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    aspect-ratio: 1 / 1;
    background-color: $black-color;
    border-radius: 40px;
    @include desktop {
      border-radius: 30px;
    }
    @include tablet {
      padding: 25px;
    }

    & img {
      max-width: 80%;
    }
  }
}
