<section class="section test">
  <div class="container">
    <div class="test__block">

      <div class="test__top">
        <span class="h3 test__star">
          *
        </span>
        <h2 class="h3 test__title" id="test-head">Вопрос</h2>
        <div class="test__count">
          <div class="b1 test__count-content" id="test-pages">0 / 0</div>
        </div>
      </div>


      <div class="test__body">
        <div class="test__grid" id="test-body"></div>
      </div>




    </div>
  </div>
</section>


