<section class="cooperation">
  <div class="container">
    <div class="cooperation__block">
      <div class="cooperation__block-title">
        <h3 class="h4 cooperation__pre-title">
          Школа 10is предлагает
        </h3>
        <h1 class="h1 cooperation__title">
          Сотрудничество
        </h1>
        <p class="p2 cooperation__text">
          Мы открыты к любым партнерским предложениям. Расскажите нам о себе и о своем проекте. Мы будем рады сделать с вами крутую коллаборацию!

          Все поля обязательны для заполнения
        </p>
      </div>

      <div class="cooperation-bottom">
        <div class="cooperation-bottom__left">
          <h3 class="h3 cooperation-bottom__title">Оставьте свои данные и менеджер свяжется с вами</h3>

          <form action="post" class="form cooperation-form">
            <div class="form__labels">
              <label class="form-label">
                <input type="text" placeholder="Имя" required>
              </label>
              <label class="form-label">
                <input type="email" placeholder="Электронная почта" required>
              </label>
              <label class="form-label">
                <input type="tel" placeholder="Номер телефона" required>
              </label>
              <label class="form-label">
                <textarea name="" placeholder="Расскажите о себе" data-autoresize rows="1"></textarea>
                <span class="triangle"></span>
              </label>
            </div>

            <div class="form-bottom">
              <button class="black-btn form-bottom__button" type="submit">
                Отправить
              </button>
              <span class="p4 form-bottom__text">Нажимая на кнопку, вы соглашаетесь с <a href="#">условиями пользовательского соглашения</a></span>
            </div>
          </form>
        </div>

        <div class="cooperation-bottom__right">
          <img src="../img/cooperation.jpg" alt="Сотрудничество">
        </div>
      </div>
    </div>
  </div>
</section>
