<section class="banner-certificate">
  <div class="container">
    <div class="banner-certificate__block">
      <div class="banner-certificate__left">
        <h2 class="h1 banner-certificate__title">Подари то, что никогда не забудут</h2>
        <p class="text-2 banner-certificate__text">Дари эмоции друзьям и близким с сертификатом от 10is</p>
        <div class="banner-certificate__button-block">
          <!-- тут ссылка на watsapp -->
          <a href="#" class="black-btn banner-certificate__link">Написать в WhatsApp</a>
          <div class="banner-certificate__background">
            <svg>
              <use xlink:href="/img/sprite.svg#banner-arrow"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="banner-certificate__right">
        <img src="/img/certificate.jpg" alt="">
      </div>
    </div>
  </div>
</section>
