<section class="banner-certificate banner-certificate-spoiler" data-banner-certificate>
  <div class="container">
    <div class="banner-certificate__block">
      <div class="banner-certificate__left">
        <h2 class="h1 banner-certificate__title">САМОЕ ВРЕМЯ ДЛЯ НЕЗАБЫВАЕМЫХ ПОДАРКОВ И ЭМОЦИЙ!</h2>
        <p class="p2 banner-certificate__text">Дари близким и друзьям сертификаты от 10is и участвуй в розыгрыше!</p>
        <div class="banner-certificate__button-block">
          <!-- тут ссылка на watsapp -->
          <button class="yellow-btn banner-certificate__link" data-banner-more-btn>Подробнее</button>
          <a href="#" class="black-btn banner-certificate__link">Написать в WhatsApp</a>

          <div class="banner-certificate__background">
            <svg>
              <use xlink:href="/img/sprite.svg#banner-arrow"></use>
            </svg>
            <svg class="mobile">
              <use xlink:href="/img/sprite.svg#banner-arrow-small"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="banner-certificate__right">
        <img src="/img/certificate.jpg" alt="">
      </div>
      <div class="banner-descr" data-banner-active="false">
        <h2 class="h3 banner-descr__title">Поразите близких роскошным сюрпризом – подарочным сертификатом на обучение большому теннису в школе 10is!</h2>
        <p class="p2 banner-descr__text"><b>Бонус:</b>  «Золотые билеты» 10is!</p>
        <p class="p2 mb-3 banner-descr__text">(как в фильме Вилли Вонка)</p>
        <p class="p2 mb-3 banner-descr__text">При покупке подарочного сертификата номиналом от 2000₽ - вы получаете шанс выиграть «Золотой билет» - бесплатную индивидуальную тренировку с профессиональным тренером!</p>
        <p class="h4 mb-2 banner-descr__text">Что вы получаете?</p>
        <ul class="mb-3">
          <li class="p2 banner-descr__text">Роскошный подарок для близких, который запомнится надолго.</li>
          <li class="p2 banner-descr__text">Возможность подарить новые навыки, отличную физическую форму и незабываемые впечатления.</li>
          <li class="p2 banner-descr__text">Шанс выиграть эксклюзивную тренировку с опытными тренерами 10is!</li>
        </ul>
        <p class="p2 banner-descr__text">Окончание предложения и розыгрыш «золотых билетов» 29 декабря</p>
        <p class="p2 banner-descr__text">Успейте подарить эмоции своим близким и получить шанс на эксклюзивную тренировку!</p>
        <p class="p2 banner-descr__text">Купить подарочный сертификат и узнать подробности можно у наших менеджеров нажав на кнопку «связаться в WhatsApp»</p>
      </div>
    </div>
  </div>
</section>
