<section class="banner banner-telegram">
  <div class="container">
    <div class="banner-telegram__block">
      <div class="banner-telegram__content">
        <h2 class="h2 banner-telegram__title">
          Подписывайся на наш телеграм канал
        </h2>
        <span class="text-2 banner-telegram__text">
          Самые актуальные новости 10is ждут вас ❤️
        </span>
        <div class="banner-telegram__button-block">
          <!-- тут ссылка на телегу -->
          <a href="" class="yellow-btn banner-telegram__link">Подписаться</a>
          <div class="banner-telegram__background"></div>
        </div>
      </div>
      <div class="banner-telegram__img-block">
        <picture>
          <source srcset="/img/main/banner-telegram.png" media="(min-width: 768px)">
          <img loading="lazy" src="/img/main/banner-telegram-mob.png" alt="Подписывайся на наш телеграм канал">
        </picture>
      </div>
    </div>
  </div>
</section>
