<section class="banner banner-trial">
  <img src="/img/main/trial-banner.png" alt="" class="banner-trial__img">
  <div class="container">
    <div class="banner-trial__block">
      <h2 class="h2 banner-trial__title">
        <span class="text">Научим играть в теннис с нуля — индивидуально и в группах!</span>
        <span class="text">2 пробных занятия за <span class="old-price">5000</span> 2500 руб</span>
      </h2>
      <button class="yellow-btn banner-trial__btn">Записаться</button>
    </div>
  </div>
</section>
