<section class="section tennis-grid">
  <div class="container">
    <ul class="list-reset tennis-grid__list">
      <li class="tennis-grid__item">
        <div class="tennis-grid__top">
          <h2 class="h3 tennis-grid__title">Групповые для взрослых</h2>
          <span class="h3 tennis-grid__price">от 1550 р.</span>
        </div>
        <div class="tennis-grid__bottom">
          <p class="p3 tennis-grid__text">
            Тренировки в команде из 6 человек. Вы будете заниматься с игроками вашего уровня подготовки. От начинающих до профессионалов
          </p>
          <a href="#" class="p3 link tennis-grid__link">
            Подробнее
            <svg>
              <use xlink:href="../img/sprite.svg#arrow-angle"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="tennis-grid__item">
        <div class="tennis-grid__top">
          <h2 class="h3 tennis-grid__title">Теннис для детей</h2>
          <span class="h3 tennis-grid__price">от 1400 р.</span>
        </div>
        <div class="tennis-grid__bottom">
          <p class="p3 tennis-grid__text">
            Теннис развивает и социализирует ребёнка. Тренировки проходят в дружественной обстановке в кругу весёлых детей под чутким руководством тренера
          </p>
          <a href="#" class="p3 link tennis-grid__link">
            Подробнее
            <svg>
              <use xlink:href="../img/sprite.svg#arrow-angle"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="tennis-grid__item">
        <div class="tennis-grid__top">
          <h2 class="h3 tennis-grid__title">Теннис для подростков</h2>
          <span class="h3 tennis-grid__price">от 1400 р.</span>
        </div>
        <div class="tennis-grid__bottom">
          <p class="p3 tennis-grid__text">
            Мы находим подход к каждому ученику. Атмосфера внутри группы строится на доверии и взаимоуважении
          </p>
          <a href="#" class="p3 link tennis-grid__link">
            Подробнее
            <svg>
              <use xlink:href="../img/sprite.svg#arrow-angle"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="tennis-grid__item">
        <div class="tennis-grid__top">
          <h2 class="h3 tennis-grid__title">Индивидуальные тренировки</h2>
          <span class="h3 tennis-grid__price">от 3000 р.</span>
        </div>
        <div class="tennis-grid__bottom">
          <p class="p3 tennis-grid__text">
            Индивидуальное занятие с тренером по теннису сосредоточено только на вас. Оно поможет вам отточить нужные навыки и улучшить имеющиеся
          </p>
          <a href="#" class="p3 link tennis-grid__link">
            Подробнее
            <svg>
              <use xlink:href="../img/sprite.svg#arrow-angle"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="tennis-grid__item">
        <div class="tennis-grid__top">
          <h2 class="h3 tennis-grid__title">Сплит тренировки</h2>
          <span class="h3 tennis-grid__price">от 3500 р.</span>
        </div>
        <div class="tennis-grid__bottom">
          <p class="p3 tennis-grid__text">
            Тренировка для 2-х. Разделить эмоции с другом или партнером - бесценно
          </p>
          <a href="#" class="p3 link tennis-grid__link">
            Подробнее
            <svg>
              <use xlink:href="../img/sprite.svg#arrow-angle"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
