.camp-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: all .8s ease-in-out;
  z-index: -1;

  &.active {
    opacity: 1;
    visibility: visible;
    scale: 1;
    z-index: 9999;

    & .camp-popup__inner {
      scale: 1;
    }
  }

  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 110px;
    padding: 60px;
    max-width: 1360px;
    width: 80vw;
    border-radius: 40px;
    background-color: $white-color;
    box-shadow: 0px 0px 25px 0px #0000001A;
    scale: 0;
    transition: all .8s ease-in-out;

    @include desktop {
      gap: 53px;
      padding: 40px;
      max-width: 1070px;
    }
    @include tablet {
      flex-direction: column;
      gap: 40px;
      padding: 70px 40px 40px;
      max-width: 690px;
      border-radius: 30px;
    }
    @include mobile {
      gap: 30px;
      padding: 56px 20px 40px;
      max-width: 300px;
      width: calc(100vw - 30px);
      border-radius: 20px;
    }
  }

  &__close-button {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(50%, -50%);
    cursor: pointer;

    @include desktop {
      top: 30px;
      right: 30px;
    }

    & .icon{
      width: 20px;
      height: 20px;
      fill: $black-color;
      stroke: $black-color;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
  }

  &__img {
    max-width: 597px;
    border-radius: 20px;

    @include desktop {
      max-width: 459px;
    }
    @include tablet {
      max-width: 610px;
    }
    @include mobile {
      max-width: 260px;
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  &__date {
    margin-bottom: 40px;

    @include mobile {
      margin-bottom: 30px;
    }
  }

  &__link {
    width: fit-content;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 20px;
  left: 50%;
  display: none;
  padding: 48px 55px;
  width: calc(100vw - 20px);
  max-width: 1670px;
  background-color: $white-color;
  border-radius: 40px;
  box-shadow: 0px 0px 25px 0px #0000001A;
  transform: translateX(-50%);
  z-index: 123;

  @include desktop {
    padding: 48px 80px;
  }
  @include tablet {
    padding: 30px;
  }
  @include mobile {
    padding: 20px;
    border-radius: 30px;
  }

  &.active {
    display: flex;
  }

  &__inner {
    display: flex;
    align-items: center;
    gap: 40px;

    @include tablet {
      flex-direction: column;
      gap: 20px;
    }

    & p {
      font-size: 16px;
      line-height: 25.16px;

      @include mobile {
        font-size: 14px;
        line-height: 1.2;
      }
    }
  }
}
