.header {
  position: fixed;
  top: 0;
  left: 50%;
  padding: 32px 0 26px;
  width: 100vw;
  border-bottom: 1px solid $white-color;
  transform: translate(-50%, 0);
  transition: all .4s ease-in-out;
  z-index: 9;

  @include tablet {
    padding: 20px 0 18px;
  }

  @include mobile {
    padding: 15px 0;
  }

  &.sticky {
    background: $white-color;
    transform: translate(-50%, -100%);

    &.visible{
      transform: translate(-50%, 0);
    }

    & .header{
      &__logo{
        &--white{
          display: none;
        }
        &--black{
          display: block;
        }

        &-text {
          color: $black-color;
        }
      }

      &__nav{
        &-link{
          color: $black-color;

          &.has-submenu{
            & .header__nav-link-inner{
              &:before{
                background: $black-color;
              }
            }
          }
        }
      }

      &__contacts{
        &-phone{
          color: $black-color;
          & .icon{
            fill: $black-color;
          }
        }
      }
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    &--black {
      display: none;
    }

    & a {
      display: flex;
      width: 89.5px;
      @include mobile {
        width: 71px;
      }

      & img {
        width: 100%;
      }
    }

    &-text {
      max-width: 200px;
      font-size: 14px;
      font-weight: 300;
      line-height: 1;
      color: $white-color;

      @include desktop {
        max-width: 150px;
        font-size: 10px;
      }
      @media (max-width: 1325px) {
        display: none;
      }
      @include tablet {
        display: flex;
      }
      @media (max-width: 680px) {
        display: none;
      }
      @include mobile {
        display: flex;
      }
    }
  }

  &__menu {
    @include tablet {
      position: fixed;
      top: 0;
      left: 0;
      padding: 16.928% 60px 13.021%;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background: $white-color;
      transform: translate(0, -100%);
      transition: .8s ease-in-out;
      z-index: 999;
    }

    & .header__nav-contacts {
      display: none;

      @include tablet{
        margin: 0 auto;
        display: block;
      }

      & .header__contacts-phone{
        margin-bottom: 30px;
        display: block;
        font-size: 20px;
        font-weight: 400;
        line-height: 25px;
        color: $black-color;

        @include mobile{
          margin-bottom: 10px;
          font-size: 14px;
          line-height: 18px;
        }

        & .icon{
          width: 20px;
          height: 20px;
          fill: $black-color;
        }
      }

      & .header__contacts-social{
        justify-content: center;

        & .icon{
          max-width: 40px;
          max-height: 40px;

          @include mobile{
            max-width: 25px;
            max-height: 25px;
          }
        }
      }
    }

    &.active{
      @include tablet{
        transform: translate(0,0);
      }
    }
  }

  &__nav {
    display: flex;
    gap: 60px;

    @include desktop {
      gap: 20px;
    }

    @include tablet {
      flex-direction: column;
      gap: 20px;
    }

    @include mobile{
      gap: 10px;
    }

    &-link {
      position: relative;
      display: block;
      color: $white-color;
      transition: color .4s ease-in-out;
      cursor: pointer;

      @include tablet {
        margin: 0 auto;
        width: fit-content;
        color: $black-color;
        text-align: center;
      }

      &:hover {
        color: $yellow-color;
      }

      &-inner {
        @include tablet {
          font-size: 24px;
          line-height: 30px;
        }

        @include mobile{
          font-size: 14px;
          line-height: 18px;
          font-weight: 400;
        }
      }

      &.has-submenu {
        & > .header__nav-link-inner {
          position: relative;
          padding-right: 16px;
          &:before {
            content: '';
            position: absolute;
            top: 8px;
            right: 0;
            width: 13px;
            height: 7px;
            clip-path: polygon(50% 100%, 0 25%, 100% 25%);
            background: $white-color;
            transition: all .4s ease-in-out;

            @include tablet {
              top: 12px;
              background: $black-color;
            }

            @include mobile{
              top: 7px;
              width: 10px;
              height: 5.4px;
            }
          }
        }


        &:hover {
          & .header__nav-link-inner{
            &:before {
              background: $yellow-color;
              transform: rotate(180deg);
            }
          }

          & .header__nav-submenu-inner {
            padding: 20px;
            max-height: 190px;


            @include tablet {
              padding: 20px 0 0;
            }

            @include mobile{
              padding: 10px 0 0;
            }
          }
        }
      }
    }

    &-submenu {
      position: absolute;
      top: 100%;
      right: 0;
      padding-top: 41px;
      transform: translate(20%, 0);
      transition: all .4s ease-in-out;
      overflow: hidden;

      @include tablet {
        position: relative;
        top: unset;
        right: unset;
        padding: 0;
        transform: unset;
      }

      &-inner {
        padding: 0 20px;
        max-height: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        background: $white-color;
        box-shadow: 0 5px 20px 0 #00000026;
        transition: all .4s ease-in-out;

        @include tablet {
          padding: 0;
          background: unset;
          box-shadow: unset;
        }
      }

      & .header__nav-link {
        width: max-content;
        color: $black-color;
        text-align: center;

        &:hover {
          color: $yellow-color;
        }

        &-inner {
          @include tablet {
            font-size: 20px;
            font-weight: 400;
            line-height: 25px;
          }
          @include mobile{
            font-size: 12px;
            line-height: 14px;
            font-weight: 400;
          }
        }
      }
    }
  }

  &__contacts {
    display: flex;
    align-items: center;
    gap: 30px;

    @include tablet {
      margin-left: auto;
    }

    &-phone {
      display: flex;
      align-items: center;
      font-size: 18px;
      line-height: 22.64px;
      color: $white-color;

      @include tablet {
        font-size: 14px;
        line-height: 17.61px;
      }

      @include mobile {
        display: none;
      }

      & .icon {
        margin-right: 12px;
        max-width: 16px;
        max-height: 16px;
        fill: $white-color;

        @include tablet {
          max-width: 13px;
          max-height: 13px;
        }
      }
    }

    &-social {
      display: flex;
      gap: 15px;

      @include mobile {
        gap: 10px;
      }

      & .icon {
        max-width: 30px;
        max-height: 30px;

        @include mobile {
          max-width: 24px;
          max-height: 24px;
        }
      }
    }
  }

  &__burger {
    display: none;

    @include tablet {
      margin-left: 30px;
      width: 45px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 4px;
      background: $white-color;
      border-radius: 50%;
      z-index: 1000;

      @include mobile {
        margin-left: 20px;
        height: 35px;
        width: 35px;
      }
    }

    &-line {
      width: 20px;
      height: 2px;
      background: $black-color;

      @include mobile {
        width: 16px;
        height: 1px;
      }
    }

    &.active{

      & .burger-line-one{
        animation: animate-line-1 0.7s ease-in-out forwards;
      }
      & .burger-line-two {
        animation: animate-line-2 0.7s ease-in-out forwards;
      }
      & .burger-line-three {
        animation: animate-line-3 0.7s ease-in-out forwards;
      }
    }
  }
  & .burger-line-one{
    animation: animate-line-1-rev 0.7s ease-in-out forwards;
  }
  & .burger-line-two {
    animation: animate-line-2-rev 0.7s ease-in-out forwards;
  }
  & .burger-line-three {
    animation: animate-line-3-rev 0.7s ease-in-out forwards;
  }
}

.layout .header {
  border-color: $black-color;

  &__logo {
    &--white {
      display: none;
    }

    &--black {
      display: flex;
    }
  }

  &__nav-link {
    color: $black-color;

    &:hover {
      color: $yellow-color;
    }

    &.has-submenu > .header__nav-link-inner:before {
      background: $black-color;
    }
  }

  &__contacts-phone {
    color: $black-color;

    & .icon {
      fill: $black-color;
    }
  }
}

@keyframes animate-line-1-rev {
  0% {
    transform: translate3d(0, 5px, 0) rotate(45deg);
  }

  50% {
    transform: translate3d(0, 3px, 0) rotate(0);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
}
@keyframes animate-line-2-rev {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes animate-line-3-rev {
  0% {
    transform: translate3d(0, -5px, 0) rotate(135deg);
  }
  50% {
    transform: translate3d(0, -3px, 0) rotate(0);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(0deg)
  }
}
@keyframes animate-line-1 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  50% {
    transform: translate3d(0, 3px, 0) rotate(0);
  }
  100% {
    transform: translate3d(0, 5px, 0) rotate(45deg);
  }
}
@keyframes animate-line-2 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes animate-line-3 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  50% {
    transform: translate3d(0, -3px, 0) rotate(0);
  }
  100% {
    transform: translate3d(0, -5px, 0) rotate(135deg);
  }
}
