.popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  transition: all .5s ease-in-out;
  z-index: 9999;

  &.loading{
    display: flex;
    &.active{
      opacity: 1;

      & .popup__inner{
        transform: scale(1);
      }
    }
  }

  &__close{
    position: absolute;
    top: 50px;
    right: 50px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(50%, -50%);

    & .icon{
      width: 20px;
      height: 20px;
      fill: $black-color;
    }
  }

  &__inner{
    position: relative;
    max-width: 78.125vw;
    width: 100%;
    min-height: 513px;
    background: $white-color;
    border-radius: 40px;
    transform: scale(0.8);
    transition: all .5s ease-in-out;

    @include desktop{
      max-width: 83.3vw;
    }

    @include tablet{
      max-width: 82.68vw;
      min-height: 475px;
    }

    @include mobile{
      padding: 20px;
      max-width: 92.5vw;
      border-radius: 30px;
    }
  }

  &.thanks-popup{
    & .popup__inner{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
  }

  &.application-popup{
    & .popup{
      &__inner{
        padding: 129px 100px 60px;
        display: flex;
        justify-content: space-between;

        @include desktop {
          padding: 100px 80px;
          gap: 60px;
        }

        @include tablet{
          padding: 60px 40px;
          flex-direction: column;
        }

        @include mobile{
          padding: 40px 20px;
          gap: 40px;
        }
      }

      &__form{
        max-width: 642px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 60px;

        @include desktop {
          max-width: 560px;
          width: 54.66%;
        }

        @include tablet{
          max-width: 100%;
          width: 100%;
          gap: 40px;
        }

        @include mobile{
          gap: 30px;
        }

        & .form-group{
          &:last-of-type{
            align-items: center;
            align-self: flex-end;
            gap: 20px;

            @include tablet{
              flex-direction: row-reverse;
              align-self: center;
            }

            @include mobile{
              margin-top: 10px;
              flex-direction: column-reverse;
              gap: 15px;
            }
          }
        }
        &-text{
          max-width: 317px;
          text-align: right;
          opacity: 0.5;

          @include tablet{
            text-align: left;
          }

          @include mobile{
            max-width: 250px;
            text-align: center;
          }
        }
      }

      &__info{
        &-subtitle{
          margin-bottom: 10px;

          @include mobile{
            margin-bottom: 5px;
          }
        }

        &-title{
          margin-bottom: 20px;
          @include mobile{
            margin-bottom: 10px;
          }
        }

        &-text{
          max-width: 372px;
        }
      }
    }
  }
}
