<section class="section calendar">
  <div class="container">
    <div class="calendar-top">
      <h2 class="h1 calendar-top__title">Календарь событий</h2>
      <span class="p2 calendar-top__text">Цены уточняйте у администратора</span>
    </div>

    <div class="calendar-content">
      <ul class="list-reset calendar-content__tabs">
        <li class="calendar-content__item">
          <button data-event-tab class="h4 calendar-content__tab">
            Весна
          </button>
        </li>
        <li class="calendar-content__item">
          <button data-event-tab class="h4 calendar-content__tab">
            Лето
          </button>
        </li>
        <li class="calendar-content__item">
          <button data-event-tab class="h4 calendar-content__tab">
            Осень
          </button>
        </li>
        <li class="calendar-content__item">
          <button data-event-tab class="h4 calendar-content__tab">
            Зима
          </button>
        </li>
      </ul>

      <ul class="list-reset calendar-content__content">
        <li data-event-content class="calendar-content__info">
          <div class="calendar-table">
            <ul class="list-reset calendar-table__head">
              <li class="h4">
                Даты
              </li>
              <li class="h4">
                Турнир
              </li>
              <li class="h4">
                Локация
              </li>
              <li class="h4">
                Записаться
              </li>
            </ul>
            <div class="calendar-table__body">
              <ul class="list-reset calendar-table__body-item">
                <li class="p2">24 февраля – 2 марта</li>
                <li class="p2">Сборы и турнир АТР</li>
                <li class="p2">Дубай</li>
                <li class="p2"><a href="#">Фотоотчёт</a></li>
              </ul>
              <ul class="list-reset calendar-table__body-item">
                <li class="p2">7 – 10 марта</li>
                <li class="p2">Коломна</li>
                <li class="p2">Коломна</li>
                <li class="p2"><a href="#">Фотоотчёт</a></li>
              </ul>
              <ul class="list-reset calendar-table__body-item">
                <li class="p2">28 апреля – 1 мая</li>
                <li class="p2">Турнир: Ребенок+ родитель</li>
                <li class="p2">?</li>
                <li class="p2"><a href="#">Фотоотчёт</a></li>
              </ul>
              <ul class="list-reset calendar-table__body-item">
                <li class="p2">25 мая</li>
                <li class="p2">Детский турнир</li>
                <li class="p2">Рублево</li>
                <li class="p2 sign-up"><a href="#">Записаться</a></li>
              </ul>
              <ul class="list-reset calendar-table__body-item">
                <li class="p2">26 мая</li>
                <li class="p2">Парный турнир в Рублево</li>
                <li class="p2">Рублево</li>
                <li class="p2 sign-up"><a href="#">Записаться</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li data-event-content class="calendar-content__info">
          <div class="calendar-table">
            <ul class="list-reset calendar-table__head">
              <li class="h4">
                Даты
              </li>
              <li class="h4">
                Турнир
              </li>
              <li class="h4">
                Локация
              </li>
              <li class="h4">
                Записаться
              </li>
            </ul>
            <div class="calendar-table__body">
              <ul class="list-reset calendar-table__body-item">
                <li class="p2">21 февраля – 2 марта</li>
                <li class="p2">Сборы и турнир АТР</li>
                <li class="p2">Дубай</li>
                <li class="p2"><a href="#">Фотоотчёт</a></li>
              </ul>
              <ul class="list-reset calendar-table__body-item">
                <li class="p2">7 – 10 марта</li>
                <li class="p2">Коломна</li>
                <li class="p2">Коломна</li>
                <li class="p2"><a href="#">Фотоотчёт</a></li>
              </ul>
              <ul class="list-reset calendar-table__body-item">
                <li class="p2">28 апреля – 1 мая</li>
                <li class="p2">Турнир: Ребенок+ родитель</li>
                <li class="p2">?</li>
                <li class="p2"><a href="#">Фотоотчёт</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li data-event-content class="calendar-content__info">
          <div class="calendar-table">
            <ul class="list-reset calendar-table__head">
              <li class="h4">
                Даты
              </li>
              <li class="h4">
                Турнир
              </li>
              <li class="h4">
                Локация
              </li>
              <li class="h4">
                Записаться
              </li>
            </ul>
            <div class="calendar-table__body">
              <ul class="list-reset calendar-table__body-item">
                <li class="p2">24 февраля – 2 марта</li>
                <li class="p2">Сборы и турнир АТР</li>
                <li class="p2">Дубай</li>
                <li class="p2"><a href="#">Фотоотчёт</a></li>
              </ul>
              <ul class="list-reset calendar-table__body-item">
                <li class="p2">7 – 10 марта</li>
                <li class="p2">Коломна</li>
                <li class="p2">Коломна</li>
                <li class="p2"><a href="#">Фотоотчёт</a></li>
              </ul>
              <ul class="list-reset calendar-table__body-item">
                <li class="p2">28 апреля – 1 мая</li>
                <li class="p2">Турнир: Ребенок+ родитель</li>
                <li class="p2">?</li>
                <li class="p2"><a href="#">Фотоотчёт</a></li>
              </ul>
              <ul class="list-reset calendar-table__body-item">
                <li class="p2">25 мая</li>
                <li class="p2">Детский турнир</li>
                <li class="p2">Рублево</li>
                <li class="p2 sign-up"><a href="#">Записаться</a></li>
              </ul>
              <ul class="list-reset calendar-table__body-item">
                <li class="p2">26 мая</li>
                <li class="p2">Парный турнир в Рублево</li>
                <li class="p2">Рублево</li>
                <li class="p2 sign-up"><a href="#">Записаться</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li data-event-content class="calendar-content__info">
          <div class="calendar-table">
            <ul class="list-reset calendar-table__head">
              <li class="h4">
                Даты
              </li>
              <li class="h4">
                Турнир
              </li>
              <li class="h4">
                Локация
              </li>
              <li class="h4">
                Записаться
              </li>
            </ul>
            <div class="calendar-table__body">
              <ul class="list-reset calendar-table__body-item">
                <li class="p2">24 февраля – 2 марта</li>
                <li class="p2">Сборы и турнир АТР</li>
                <li class="p2">Дубай</li>
                <li class="p2"><a href="#">Фотоотчёт</a></li>
              </ul>
            </div>
          </div>
        </li>
      </ul>


    </div>
  </div>
</section>
