<section class="section calendar">
  <div class="container">
    <div class="calendar-top">
      <h2 class="h1 calendar-top__title">Календарь событий</h2>
      <span class="p2 calendar-top__text">Цены уточняйте у администратора</span>
    </div>

    <div class="calendar-content">
      <ul class="list-reset calendar-content__tabs">
        <li class="calendar-content__item">
          <button class="h4 calendar-content__tab active">
            Весна
          </button>
        </li>
        <li class="calendar-content__item">
          <button class="h4 calendar-content__tab">
            Лето
          </button>
        </li>
        <li class="calendar-content__item">
          <button class="h4 calendar-content__tab">
            Осень
          </button>
        </li>
        <li class="calendar-content__item">
          <button class="h4 calendar-content__tab">
            Зима
          </button>
        </li>
      </ul>

      <ul class="list-reset calendar-content__content">
        <li class="calendar-content__info">
          <table class="calendar-table">
            <thead>
              <tr class="calendar-table__head-row">
                <th>Даты</th>
                <th>Турнир</th>
                <th>Локация</th>
                <th>Записаться</th>
              </tr>
            </thead>
            <tbody>
              <tr class="calendar-table__body-row">
                <td>
                  24 февраля – 2 марта
                </td>
                <td>
                  Сборы и турнир АТР
                </td>
                <td>
                  Дубай
                </td>
                <td>
                  <a href="#">Фотоотчёт</a>
                </td>
              </tr>
              <tr class="calendar-table__body-row">
                <td>
                  7 – 10 марта
                </td>
                <td>
                  Коломна
                </td>
                <td>
                  Коломна
                </td>
                <td>
                  <a href="#">Фотоотчёт</a>
                </td>
              </tr>
              <tr class="calendar-table__body-row">
                <td>
                  28 апреля – 1 мая
                </td>
                <td>
                  Турнир: Ребенок+ родитель
                </td>
                <td>
                  ?
                </td>
                <td>
                  <a href="#">Фотоотчёт</a>
                </td>
              </tr>
              <tr class="calendar-table__body-row">
                <td>
                  25 мая
                </td>
                <td>
                  Детский турнир
                </td>
                <td>
                  Рублево
                </td>
                <td class="sign-up">
                  <a href="#">Записаться</a>
                </td>
              </tr>
              <tr class="calendar-table__body-row">
                <td>
                  26 мая
                </td>
                <td>
                  Парный турнир в Рублево
                </td>
                <td>
                  Рублево
                </td>
                <td class="sign-up">
                  <a href="#">Записаться</a>
                </td>
              </tr>
            </tbody>
          </table>
        </li>

      </ul>
    </div>
  </div>
</section>
