<section class="photo-gallery">
  <div class="container">
    <div class="photo-gallery__block">
      <div class="photo-gallery__title-block">
        <h3 class="h4 photo-gallery__pre-title">
          Наша
        </h3>
        <h2 class="h1 photo-gallery__title">
          Фотогалерея
        </h2>
        <p class="p2 photo-gallery__text">
          Немного видео и фотографий для передачи общего настроя на наших встречах!
        </p>
      </div>
      <div class="photo-gallery__photos">
        <a data-fslightbox="gallery" class="photo-gallery__photos-link" href="/img/events/1.png">
          <img src="/img/events/1.png" class="photo-gallery__photos-img">
        </a>
        <a data-fslightbox="gallery" class="photo-gallery__photos-link" href="/img/events/2.png">
          <img src="/img/events/2.png" class="photo-gallery__photos-img">
        </a>
        <a data-fslightbox="gallery" class="photo-gallery__photos-link" href="/img/events/3.png">
          <img src="/img/events/3.png" class="photo-gallery__photos-img">
        </a>
        <a data-fslightbox="gallery" class="photo-gallery__photos-link" href="/img/events/4.png">
          <img src="/img/events/4.png" class="photo-gallery__photos-img">
        </a>
        <a data-fslightbox="gallery" class="photo-gallery__photos-link" href="/img/events/5.png">
          <img src="/img/events/5.png" class="photo-gallery__photos-img">
        </a>
        <a data-fslightbox="gallery" class="photo-gallery__photos-link" href="/img/events/6.png">
          <img src="/img/events/6.png" class="photo-gallery__photos-img">
        </a>
        <a data-fslightbox="gallery" class="photo-gallery__photos-link" href="/img/events/7.png">
          <img src="/img/events/7.png" class="photo-gallery__photos-img">
        </a>
        <a data-fslightbox="gallery" class="photo-gallery__photos-link" href="/img/events/8.png">
          <img src="/img/events/8.png" class="photo-gallery__photos-img">
        </a>
      </div>
    </div>
  </div>
</section>
