<section class="section top-content">
  <div class="container">
    <div class="top-content__block">
      <div class="top-content__left">
        <h3 class="h4 top-content__pre-title">
          Актуальные и Предстоящие
        </h3>
        <h1 class="h1 top-content__title">
          Мероприятия
        </h1>
        <p class="p2 top-content__text">
          Долгожданные турниры, сборы и другие мероприятия на которых вы сможете испытать себя и просто хорошо провести время
        </p>
      </div>
      <button class="yellow-btn top-content__btn">Записаться</button>
    </div>
    <div class="top-content__bottom">
      <img src="/img/events/event-top.jpg" alt="Мероприятия" class="top-content__img">
    </div>
  </div>
</section>
