<section class="section calendar tournament">
  <div class="container">
    <div class="calendar-top">
      <h2 class="h1 calendar-top__title">Рейтинг игроков</h2>
      <span class="p2 calendar-top__text">Наш рейтинг</span>
    </div>

    <div class="calendar-content">
      <ul class="list-reset calendar-content__tabs">
        <li class="calendar-content__item">
          <button data-tournament-tab class="h4 calendar-content__tab">
            Одиночный  Мужской
          </button>
        </li>
        <li class="calendar-content__item">
          <button data-tournament-tab class="h4 calendar-content__tab">
            Женский Одиночный
          </button>
        </li>
        <li class="calendar-content__item">
          <button data-tournament-tab class="h4 calendar-content__tab">
            Парный Мужской
          </button>
        </li>
        <li class="calendar-content__item">
          <button data-tournament-tab class="h4 calendar-content__tab">
            Парный Женский
          </button>
        </li>
      </ul>

      <ul  class="list-reset calendar-content__content">
        <li data-tournament-content class="calendar-content__info">
          <div data-list class="calendar-content__block">
            <input class="calendar-content__search" placeholder="Введите имя игрока" data-list-search />
            <div class="table-sort calendar-table">
              <ul class="list-reset calendar-table__head">
                <li class="h4 sort" data-sort="name">
                  <span>Игроки</span>
                </li>
                <li class="h4 sort" data-sort="ntpr">
                  <span>NTRP</span>
                </li>
                <li class="h4 sort" data-sort="wl">
                  <span>W/L одиночных</span>
                </li>
                <li class="h4 sort desc" data-sort="rating">
                  <span>Рейтинг</span>
                </li>
              </ul>
              <div class="calendar-table__body list">
                <ul class="list-reset calendar-table__body-item">
                  <li class="p2 name">Чиркин Владислав</li>
                  <li class="p2 ntpr"><span class="title">NTRP - </span>3.5</li>
                  <li class="p2 wl"><span class="title">W/L одиночных - </span></li>
                  <li class="p2 rating"><span class="title">Рейтинг - </span>550</li>
                </ul>
                <ul class="list-reset calendar-table__body-item">
                  <li class="p2 name">АЧиркин Владислав</li>
                  <li class="p2 ntpr"><span class="title">NTRP - </span>4.0</li>
                  <li class="p2 wl"><span class="title">W/L одиночных - </span></li>
                  <li class="p2 rating"><span class="title">Рейтинг - </span>300</li>
                </ul>
                <ul class="list-reset calendar-table__body-item">
                  <li class="p2 name">ЩЧиркин Владислав</li>
                  <li class="p2 ntpr"><span class="title">NTRP - </span>3.5</li>
                  <li class="p2 wl"><span class="title">W/L одиночных - </span></li>
                  <li class="p2 rating"><span class="title">Рейтинг - </span>400</li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li data-tournament-content class="calendar-content__info">
          <div data-list class="calendar-content__block">
            <input class="calendar-content__search" placeholder="Введите имя игрока" data-list-search />
            <div class="table-sort calendar-table">
              <ul class="list-reset calendar-table__head">
                <li class="h4 sort" data-sort="name">
                  <span>Игроки</span>
                </li>
                <li class="h4 sort" data-sort="ntpr">
                  <span>NTRP</span>
                </li>
                <li class="h4 sort" data-sort="wl">
                  <span>W/L одиночных</span>
                </li>
                <li class="h4 sort desc" data-sort="rating">
                  <span>Рейтинг</span>
                </li>
              </ul>
              <div class="calendar-table__body list">
                <ul class="list-reset calendar-table__body-item">
                  <li class="p2 name">ВЧиркин Владислав</li>
                  <li class="p2 ntpr"><span class="title">NTRP - </span>3.5</li>
                  <li class="p2 wl"><span class="title">W/L одиночных - </span></li>
                  <li class="p2 rating"><span class="title">Рейтинг - </span>550</li>
                </ul>
                <ul class="list-reset calendar-table__body-item">
                  <li class="p2 name">МЧиркин Владислав</li>
                  <li class="p2 ntpr"><span class="title">NTRP - </span>3.5</li>
                  <li class="p2 wl"><span class="title">W/L одиночных - </span></li>
                  <li class="p2 rating"><span class="title">Рейтинг - </span>550</li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li data-tournament-content class="calendar-content__info">
          <div data-list class="calendar-content__block">
            <input class="calendar-content__search" placeholder="Введите имя игрока" data-list-search />
            <div class="table-sort calendar-table">
              <ul class="list-reset calendar-table__head">
                <li class="h4 sort" data-sort="name">
                  <span>Игроки</span>
                </li>
                <li class="h4 sort" data-sort="ntpr">
                  <span>NTRP</span>
                </li>
                <li class="h4 sort desc" data-sort="rating">
                  <span>Рейтинг</span>
                </li>
              </ul>
              <div class="calendar-table__body list">
                <ul class="list-reset calendar-table__body-item">
                  <li class="p2 name">Чиркин Владислав</li>
                  <li class="p2 ntpr"><span class="title">NTRP - </span>3.5</li>
                  <li class="p2 rating"><span class="title">Рейтинг - </span>550</li>
                </ul>
                <ul class="list-reset calendar-table__body-item">
                  <li class="p2 name">Чиркин Владислав</li>
                  <li class="p2 ntpr"><span class="title">NTRP - </span>3.5</li>
                  <li class="p2 rating"><span class="title">Рейтинг - </span>250</li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li data-tournament-content class="calendar-content__info">
          <div data-list class="calendar-content__block">
            <input class="calendar-content__search" placeholder="Введите имя игрока" data-list-search />
            <div class="table-sort calendar-table">
              <ul class="list-reset calendar-table__head">
                <li class="h4 sort" data-sort="name">
                  <span>Игроки</span>
                </li>
                <li class="h4 sort" data-sort="ntpr">
                  <span>NTRP</span>
                </li>
                <li class="h4 sort desc" data-sort="rating">
                  <span>Рейтинг</span>
                </li>
              </ul>
              <div class="calendar-table__body list">
                <ul class="list-reset calendar-table__body-item">
                  <li class="p2 name">Чиркин Владислав</li>
                  <li class="p2 ntpr"><span class="title">NTRP - </span>3.5</li>
                  <li class="p2 rating"><span class="title">Рейтинг - </span>550</li>
                </ul>
                <ul class="list-reset calendar-table__body-item">
                  <li class="p2 name">Чиркин Владислав</li>
                  <li class="p2 ntpr"><span class="title">NTRP - </span>3.5</li>
                  <li class="p2 rating"><span class="title">Рейтинг - </span>250</li>
                </ul>
                <ul class="list-reset calendar-table__body-item">
                  <li class="p2 name">Мудров Денис</li>
                  <li class="p2 ntpr"><span class="title">NTRP - </span>4.0</li>
                  <li class="p2 rating"><span class="title">Рейтинг - </span>500</li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
