<section class="schedule__section js-schedule-section">
  <div class="container">
    <h2 class="h2 schedule-table__title">Теннисный корт «Рублево»</h2>

    <ul class="list-reset schedule-court__list">
      <li class="h4 schedule-court__item">
        Грунт
      </li>
      <li class="h4 schedule-court__item">
        Трава
      </li>
    </ul>

    <div class="schedule-table__table">
      <div class="schedule-table">
        <ul class="list-reset schedule-table__head">
          <li class="h3 js-schedule-day">
            <button class="schedule-table__button">
              Пн
            </button>
          </li>
          <li class="h3 js-schedule-day">
            <button class="schedule-table__button">
              Вт
            </button>
          </li>
          <li class="h3 js-schedule-day">
            <button class="schedule-table__button">
              Ср
            </button>
          </li>
          <li class="h3 js-schedule-day">
            <button class="schedule-table__button">
              Чт
            </button>
          </li>
          <li class="h3 js-schedule-day">
            <button class="schedule-table__button">
              Пт
            </button>
          </li>
          <li class="h3 js-schedule-day">
            <button class="schedule-table__button">
              Сб
            </button>
          </li>
          <li class="h3 js-schedule-day">
            <button class="schedule-table__button">
              Вс
            </button>
          </li>
        </ul>
        <ul class="list-reset schedule-table__body">
          <li class="schedule-table__body-content js-schedule-content">
            <ul class="list-reset schedule-table__body-item">
              <li class="p2">uheynf</li>
              <li class="p2">Дети 10-14 лет</li>
            </ul>
            <ul class="list-reset schedule-table__body-item">
              <li class="p2">19:00</li>
              <li class="p2">Взрослые. Средний уровень</li>
            </ul>
            <ul class="list-reset schedule-table__body-item">
              <li class="p2">20:00</li>
              <li class="p2">Взрослые. Средний уровень</li>
            </ul>
            <ul class="list-reset schedule-table__body-item">
              <li class="p2">21:00</li>
              <li class="p2">Взрослые. Высокий уровень</li>
            </ul>
          </li>
          <li class="schedule-table__body-content js-schedule-content">
            <ul class="list-reset schedule-table__body-item">
              <li class="p2">грунта</li>
              <li class="p2">Дети 10-14 лет</li>
            </ul>
          </li>
          <li class="schedule-table__body-content js-schedule-content">
            <ul class="list-reset schedule-table__body-item">
              <li class="p2">16:00</li>
              <li class="p2">Дети 10-14 лет</li>
            </ul>
          </li>
          <li class="schedule-table__body-content js-schedule-content">
            <ul class="list-reset schedule-table__body-item">
              <li class="p2">16:00</li>
              <li class="p2">Дети 10-14 лет</li>
            </ul>
          </li>
          <li class="schedule-table__body-content js-schedule-content">
            <ul class="list-reset schedule-table__body-item">
              <li class="p2">грунта</li>
              <li class="p2">Дети 10-14 лет</li>
            </ul>
          </li>
          <li class="schedule-table__body-content js-schedule-content">
            <ul class="list-reset schedule-table__body-item">
              <li class="p2">16:00</li>
              <li class="p2">Дети 10-14 лет</li>
            </ul>
          </li>
          <li class="schedule-table__body-content js-schedule-content">
            <ul class="list-reset schedule-table__body-item">
              <li class="p2">16:00</li>
              <li class="p2">Дети 10-14 лет</li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="schedule-table">
        <ul class="list-reset schedule-table__head">
          <li class="h3 js-schedule-day">
            <button class="schedule-table__button">
              Вт
            </button>
          </li>
          <li class="h3 js-schedule-day">
            <button class="schedule-table__button">
              Ср
            </button>
          </li>
          <li class="h3 js-schedule-day">
            <button class="schedule-table__button">
              Чт
            </button>
          </li>
          <li class="h3 js-schedule-day">
            <button class="schedule-table__button">
              Пт
            </button>
          </li>
          <li class="h3 js-schedule-day">
            <button class="schedule-table__button">
              Сб
            </button>
          </li>
          <li class="h3 js-schedule-day">
            <button class="schedule-table__button">
              Вс
            </button>
          </li>
        </ul>
        <ul class="list-reset schedule-table__body">
          <li class="schedule-table__body-content js-schedule-content">
            <ul class="list-reset schedule-table__body-item">
              <li class="p2">трава</li>
              <li class="p2">Дети 10-14 лет</li>
            </ul>
            <ul class="list-reset schedule-table__body-item">
              <li class="p2">19:00</li>
              <li class="p2">Взрослые. Средний уровень</li>
            </ul>
            <ul class="list-reset schedule-table__body-item">
              <li class="p2">20:00</li>
              <li class="p2">Взрослые. Средний уровень</li>
            </ul>
            <ul class="list-reset schedule-table__body-item">
              <li class="p2">трава</li>
              <li class="p2">траваВзрослые. Высокий уровень</li>
            </ul>
          </li>
          <li class="schedule-table__body-content js-schedule-content">
            <ul class="list-reset schedule-table__body-item">
              <li class="p2">16:00</li>
              <li class="p2">Дети 10-14 лет</li>
            </ul>
          </li>
          <li class="schedule-table__body-content js-schedule-content">
            <ul class="list-reset schedule-table__body-item">
              <li class="p2">16:00</li>
              <li class="p2">Дети 10-14 лет</li>
            </ul>
          </li>
          <li class="schedule-table__body-content js-schedule-content">
            <ul class="list-reset schedule-table__body-item">
              <li class="p2">16:00</li>
              <li class="p2">Дети 10-14 лет</li>
            </ul>
          </li>
          <li class="schedule-table__body-content js-schedule-content">
            <ul class="list-reset schedule-table__body-item">
              <li class="p2">16:00</li>
              <li class="p2">Дети 10-14 лет</li>
            </ul>
          </li>
          <li class="schedule-table__body-content js-schedule-content">
            <ul class="list-reset schedule-table__body-item">
              <li class="p2">16:00</li>
              <li class="p2">Дети 10-14 лет</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="schedule-table__bottom">
      <p class="p2 schedule-table__post-text">
        *В стоимость входит всё оборудование для тренировок, включая корт. Ракетка входит в стоимость на первое пробное занятие. Абонементы можно использовать на занятия длительностью
      </p>
    </div>

  </div>
</section>

<section class="schedule__section js-schedule-section">
  <div class="container">
    <h2 class="h2 schedule-table__title">Теннисный корт «Рублево»</h2>
    <div class="schedule-table__table">
      <div class="schedule-table">
        <ul class="list-reset schedule-table__head">
          <li class="h3 js-schedule-day">
            <button class="schedule-table__button">
              Пн
            </button>
          </li>
          <li class="h3 js-schedule-day">
            <button class="schedule-table__button">
              Вт
            </button>
          </li>
          <li class="h3 js-schedule-day">
            <button class="schedule-table__button">
              Ср
            </button>
          </li>
          <li class="h3 js-schedule-day">
            <button class="schedule-table__button">
              Чт
            </button>
          </li>
          <li class="h3 js-schedule-day">
            <button class="schedule-table__button">
              Пт
            </button>
          </li>
          <li class="h3 js-schedule-day">
            <button class="schedule-table__button">
              Сб
            </button>
          </li>
          <li class="h3 js-schedule-day">
            <button class="schedule-table__button">
              Вс
            </button>
          </li>
        </ul>
        <ul class="list-reset schedule-table__body">
          <li class="schedule-table__body-content js-schedule-content">
            <ul class="list-reset schedule-table__body-item">
              <li class="p2">16:00</li>
              <li class="p2">Дети 10-14 лет</li>
            </ul>
            <ul class="list-reset schedule-table__body-item">
              <li class="p2">19:00</li>
              <li class="p2">Взрослые. Средний уровень</li>
            </ul>
            <ul class="list-reset schedule-table__body-item">
              <li class="p2">20:00</li>
              <li class="p2">Взрослые. Средний уровень</li>
            </ul>
            <ul class="list-reset schedule-table__body-item">
              <li class="p2">21:00</li>
              <li class="p2">Взрослые. Высокий уровень</li>
            </ul>
          </li>
          <li class="schedule-table__body-content js-schedule-content">
            <ul class="list-reset schedule-table__body-item">
              <li class="p2">16:00</li>
              <li class="p2">Дети 10-14 лет</li>
            </ul>
          </li>
          <li class="schedule-table__body-content js-schedule-content">
            <ul class="list-reset schedule-table__body-item">
              <li class="p2">16:00</li>
              <li class="p2">Дети 10-14 лет</li>
            </ul>
          </li>
          <li class="schedule-table__body-content js-schedule-content">
            <ul class="list-reset schedule-table__body-item">
              <li class="p2">16:00</li>
              <li class="p2">Дети 10-14 лет</li>
            </ul>
          </li>
          <li class="schedule-table__body-content js-schedule-content">
            <ul class="list-reset schedule-table__body-item">
              <li class="p2">16:00</li>
              <li class="p2">Дети 10-14 лет</li>
            </ul>
          </li>
          <li class="schedule-table__body-content js-schedule-content">
            <ul class="list-reset schedule-table__body-item">
              <li class="p2">16:00</li>
              <li class="p2">Дети 10-14 лет</li>
            </ul>
          </li>
          <li class="schedule-table__body-content js-schedule-content">
            <ul class="list-reset schedule-table__body-item">
              <li class="p2">16:00</li>
              <li class="p2">Дети 10-14 лет</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="schedule-table__bottom">
      <p class="p2 schedule-table__post-text">
        *В стоимость входит всё оборудование для тренировок, включая корт. Ракетка входит в стоимость на первое пробное занятие. Абонементы можно использовать на занятия длительностью
      </p>
    </div>

  </div>
</section>
