<section class="blog-title">
  <div class="container">
    <div class="blog-title__top">
      <span class="h4 blog-title__pretitle">
        Всё самое интересное
      </span>
      <h1 class="h1 blog-title__title">
        Блог 10is
      </h1>
    </div>
    <ul class="blog-title__tabs">
      <li class="blog-title__tab">
        <button class="blog-title__button">
          Новости
        </button>
      </li>
      <li class="blog-title__tab">
        <button class="blog-title__button">
          Блог
        </button>
      </li>
    </ul>
  </div>
</section>
