<section class="blog-content">
  <div class="container">
    <ul class="blog-content__list">
      @loop('blog-item.html', [
        {'imgSrc': '../img/camps/1.png', 'title': 'Виннер в теннисе', 'text': 'В мире тенниса существует множество разнообразных ударов, В мире тенниса существует множество разнообразных ударов, включая слайс, топ-спин и блочный удар. Однако один из самых эффективных'},
        {'imgSrc': '../img/camps/2.png', 'title': 'Как выбрать ракетку для большого тенниса?', 'text': 'В мире тенниса существует множество разнообразных ударов, Большой теннис - это захватывающий и динамичный вид спорта, который требует от игрока не только физической подготовки'},
        {'imgSrc': '../img/camps/1.png', 'title': 'Гаситель для ракетки в большом теннисе - что это и для чего предназначен?', 'text': 'В мире тенниса существует множество разнообразных ударов, Гаситель для ракетки в большом теннисе — это специальный аксессуар, предназначенный для амортизации ударов и смягчения вибраций'},
        {'imgSrc': '../img/camps/1.png', 'title': 'Из чего делают ракетки для большого тенниса – разновидности материалов для изготовления ракеток', 'text': 'В мире тенниса существует множество разнообразных ударов, Гаситель для ракетки в большом теннисе — это специальный аксессуар, предназначенный для амортизации ударов и смягчения вибраций'},
        {'imgSrc': '../img/camps/1.png', 'title': 'Резанная подача в большом теннисе | резаная техника удара и приема | slice', 'text': 'Гаситель для ракетки в большом теннисе — это специальный аксессуар, предназначенный для амортизации ударов и смягчения вибраций'},
        {'imgSrc': '../img/camps/1.png', 'title': 'Удар дроп шот в теннисе', 'text': 'Гаситель для ракетки в большом теннисе — это специальный аксессуар, предназначенный для амортизации ударов и смягчения вибраций'},
        {'imgSrc': '../img/camps/1.png', 'title': 'Матчбол в теннисе', 'text': 'В мире тенниса существует множество разнообразных ударов, включая слайс, топ-спин и блочный удар. Однако один из самых эффективных'},
        {'imgSrc': '../img/camps/2.png', 'title': 'Правила игры в большой теннис кратко - основные правила тенниса', 'text': 'Большой теннис - это захватывающий и динамичный вид спорта, который требует от игрока не только физической подготовки'},
        {'imgSrc': '../img/camps/1.png', 'title': 'Форхенд и бэкхенд в большом теннисе - виды ударов', 'text': 'Гаситель для ракетки в большом теннисе — это специальный аксессуар, предназначенный для амортизации ударов и смягчения вибраций'},
      ])
    </ul>
  </div>
</section>
