<section class="section prices">
  <div class="container">
    <div class="prices-titles">
      <h3 class="h4 prices__pre-title">У нас самые разумные</h3>
      <h2 class="h1 prices__title">Цены</h2>
      <p class="p2 prices__post-title">
        Мы ценим ваш выбор и стремимся обеспечить вас высоким качеством тренировок.
        <br>
        Наши цены отражают это качество</p>
    </div>
    <ul class="list-reset prices__list">
      <li class="prices-item">
        <div class="prices-item__titles">
          <h3 class="h3 prices-item__title">Индивидуально</h3>
          <span class="prices-item__post-title">Занятие с тренером</span>
        </div>

        <ul class="list-reset prices-item__list">
          <li class="p3 prices-item__item">Стоимость корта включена</li>
          <li class="p3 prices-item__item">60 минут занятие</li>
          <li class="p3 prices-item__item">1 на 1 с тренером</li>
          <li class="p3 prices-item__item">Отмена за 24 часа</li>
          <li class="p3 prices-item__item bold">10% скидка на оплату 4+ занятий</li>
        </ul>

        <span class="h3 prices-item__price">6000 руб/разово</span>

        <!-- открывается попап -->
        <button href="#" class="yellow-btn prices-item__btn">
          <span>Хочу на тренировку</span>
          <svg>
            <use xlink:href="../img/sprite.svg#arrow-angle"></use>
          </svg>
        </button>
      </li>
      <li class="prices-item">
        <div class="prices-item__titles">
          <h3 class="h3 prices-item__title">Индивидуально 1.5 часа</h3>
          <span class="prices-item__post-title">Занятие с тренером</span>
        </div>

        <ul class="list-reset prices-item__list">
          <li class="p3 prices-item__item">Стоимость корта включена</li>
          <li class="p3 prices-item__item">90 минут занятие</li>
          <li class="p3 prices-item__item">1 на 1 с тренером</li>
          <li class="p3 prices-item__item">Отмена за 24 часа</li>
          <li class="p3 prices-item__item bold">10% скидка на оплату 4+ занятий</li>
        </ul>

        <span class="h3 prices-item__price">9000 руб/разово</span>

        <!-- открывается попап -->
        <button href="#" class="yellow-btn prices-item__btn">
          <span>Хочу на тренировку</span>
          <svg>
            <use xlink:href="../img/sprite.svg#arrow-angle"></use>
          </svg>
        </button>
      </li>
    </ul>
    <span class="p3 prices__bottom">
      <!-- переход на страницу ЦЕНЫ -->
      *Полный список цен вы можете найти кликнув по <a href="#">ссылке</a>
    </span>
  </div>
</section>
