<section class="section prices">
  <div class="container">
    <div class="prices-titles">
      <h2 class="h1 prices__title">Цены</h2>
      <p class="p2 prices__post-title">
        Мы работаем 24/7 для вашего удобства. Для вас мы подготовили выгодные предложения
      </p>
    </div>
    <div class="prices-top">
      <ul class="list-reset prices__list">
        <li class="prices-item">
          <div class="prices-item__titles">
            <h3 class="h3 prices-item__title">Трава</h3>
            <span class="p3 prices-item__post-title">Разово</span>
          </div>

          <ul class="list-reset prices-item__list">
            <li class="p3 prices-item__item">07:00 - 00:00</li>
          </ul>

          <span class="h3 prices-item__price">1800 руб/час</span>
        </li>
        <li class="prices-item black">
          <div class="prices-item__titles">
            <h3 class="h3 prices-item__title">Грунт</h3>
            <span class="p3 prices-item__post-title">Ночь</span>
          </div>

          <ul class="list-reset prices-item__list">
            <li class="p3 prices-item__item">00:00 - 07:00</li>
          </ul>

          <span class="h3 prices-item__price">1000 руб/час</span>
        </li>
        <li class="prices-item">
          <div class="prices-item__titles">
            <h3 class="h3 prices-item__title">Грунт</h3>
            <span class="p3 prices-item__post-title">Разово</span>
          </div>

          <ul class="list-reset prices-item__list">
            <li class="p3 prices-item__item">07:00 - 00:00</li>
          </ul>

          <span class="h3 prices-item__price">2300 руб/час</span>
        </li>
      </ul>
      <!-- Переход на yclients на оплату и бронирование -->
      <button class="yellow-btn prices__btn">
        Забронировать онлайн
      </button>
    </div>

    <div class="prices-bottom">
      <ul class="list-reset prices__list">
        <li class="prices-item">
          <div class="prices-item__titles">
            <h3 class="h3 prices-item__title">Трава</h3>
            <span class="p3 prices-item__post-title">Абонемент</span>
          </div>

          <ul class="list-reset prices-item__list">
            <li class="p3 prices-item__item">07:00 - 00:00</li>
            <li class="p3 prices-item__item">При покупке абонемента на 10 часов и более</li>
          </ul>

          <span class="h3 prices-item__price">1500 руб/час</span>
        </li>
        <li class="prices-item">
          <div class="prices-item__titles">
            <h3 class="h3 prices-item__title">Грунт</h3>
            <span class="p3 prices-item__post-title">Абонемент</span>
          </div>

          <ul class="list-reset prices-item__list">
            <li class="p3 prices-item__item">07:00 - 00:00</li>
            <li class="p3 prices-item__item">При покупке абонемента на 10 часов и более</li>
          </ul>

          <span class="h3 prices-item__price">2000 руб/час</span>
        </li>
      </ul>
      <!-- Переход на вотсап -->
      <a href="#" class="yellow-btn prices__btn">
        Связаться с администратором
      </a>
    </div>
  </div>
</section>
