<section class="section prices">
  <div class="container">
    <div class="prices-titles">
      <h3 class="h4 prices__pre-title">Доступные</h3>
      <h2 class="h1 prices__title">Цены</h2>
      <p class="p2 prices__post-title">
        Мы берём на себя организацию из любого города и страны: перелет, отель, трансфер, страховки и прочее
      </p>
    </div>
    <ul class="list-reset prices__list">
      <li class="prices-item">
        <div class="prices-item__titles">
          <h3 class="h3 prices-item__title">Проживание</h3>
          <span class="p2 prices-item__post-title">Стоимость на двоих</span>
        </div>

        <span class="h3 prices-item__price">25 150 руб</span>
      </li>
      <li class="prices-item black">
        <div class="prices-item__titles">
          <h3 class="h3 prices-item__title">Спортпакет</h3>
          <span class="p2 prices-item__post-title">Взнос за турнир входит в стоимость</span>
        </div>
        <span class="h3 prices-item__price">22 000 руб</span>
      </li>
    </ul>
    <!-- Открывается форма с перечнем услуг: спортпакет/проживание -->
    <button class="yellow-btn prices__btn">Забронировать</button>
  </div>
</section>
