<section class="courts">
  <div class="container">
    <div class="courts__titles">
      <h3 class="h4 courts__pre-title">Выберите для себя</h3>
      <h2 class="h1 courts__title">Локации</h2>
    </div>

    <ul class="list-reset courts-tabs">
      <li data-court-tab class="courts-tabs__item">
        <button class="btn-reset courts-tabs__button">Комплекс таёжный</button>
      </li>
      <li data-court-tab class="courts-tabs__item">
        <button class="btn-reset courts-tabs__button">Этюд</button>
      </li>
      <li data-court-tab class="courts-tabs__item">
        <button class="btn-reset courts-tabs__button">Немчиновка</button>
      </li>
      <li data-court-tab class="courts-tabs__item">
        <button class="btn-reset courts-tabs__button">Зенит</button>
      </li>
      <li data-court-tab class="courts-tabs__item">
        <button class="btn-reset courts-tabs__button">Рублево</button>
      </li>
    </ul>

    <ul class="list-reset courts-list">
      <li data-court-content class="courts-list__item">
        <div class="courts-list__content">
          <div class="courts-list__info">
            <h2 class="h2 courts-list__title">1Теннисный корт «Рублево»</h2>
            <address class="p1 courts-list__address">Красногорск, 6-я Мякининская улица</address>
            <p class="p2 courts-list__text">Покрытие: грунт и искусственная трава</p>
          </div>

          <div class="courts-list__comfort">
            <h3 class="h4 courts-list__comfort-title">Удобства</h3>
            <ul class="list-reset courts-list__comfort-list">
              <li class="p2 courts-list__comfort-item">
                Парковка
              </li>
              <li class="p2 courts-list__comfort-item">
                Раздевалка
              </li>
              <li class="p2 courts-list__comfort-item">
                Аренда инвентаря
              </li>
              <li class="p2 courts-list__comfort-item">
                Аренда корта
              </li>
            </ul>
            <div class="courts-list__comfort-buttons">
              <a href="#" class="yellow-btn courts-list__trial">
                Записаться на пробное
              </a>
              <a href="#" class="black-btn courts-list__schedule">
                Расписание
              </a>
            </div>
          </div>
        </div>

        <div class="courts-list__photos">
          <img src="../img/court/courts-2.jpg" alt="Теннисный корт «Рублево»" class="img1 courts-list__photo">
          <img src="../img/court/courts-3.png" alt="Теннисный корт «Рублево»" class="img2 courts-list__photo">
          <img src="../img/court/courts-4.png" alt="Теннисный корт «Рублево»" class="img3 courts-list__photo">
          <img src="../img/court/courts-5.png" alt="Теннисный корт «Рублево»" class="img4 courts-list__photo">
        </div>
      </li>
      <li data-court-content class="courts-list__item">
        <div class="courts-list__content">
          <div class="courts-list__info">
            <h2 class="h2 courts-list__title">2Теннисный корт «Рублево»</h2>
            <address class="p1 courts-list__address">Красногорск, 6-я Мякининская улица</address>
            <p class="p2 courts-list__text">Покрытие: грунт и искусственная трава</p>
          </div>

          <div class="courts-list__comfort">
            <h3 class="h4 courts-list__comfort-title">Удобства</h3>
            <ul class="list-reset courts-list__comfort-list">
              <li class="p2 courts-list__comfort-item">
                Парковка
              </li>
              <li class="p2 courts-list__comfort-item">
                Раздевалка
              </li>
              <li class="p2 courts-list__comfort-item">
                Аренда инвентаря
              </li>
              <li class="p2 courts-list__comfort-item">
                Аренда корта
              </li>
            </ul>
            <div class="courts-list__comfort-buttons">
              <a href="#" class="yellow-btn courts-list__trial">
                Записаться на пробное
              </a>
              <a href="#" class="black-btn courts-list__schedule">
                Расписание
              </a>
            </div>
          </div>
        </div>

        <div class="courts-list__photos">
          <img src="../img/court/courts-2.jpg" alt="Теннисный корт «Рублево»" class="img1 courts-list__photo">
          <img src="../img/court/courts-3.png" alt="Теннисный корт «Рублево»" class="img2 courts-list__photo">
          <img src="../img/court/courts-4.png" alt="Теннисный корт «Рублево»" class="img3 courts-list__photo">
          <img src="../img/court/courts-5.png" alt="Теннисный корт «Рублево»" class="img4 courts-list__photo">
        </div>
      </li>
      <li data-court-content class="courts-list__item">
        <div class="courts-list__content">
          <div class="courts-list__info">
            <h2 class="h2 courts-list__title">3Теннисный корт «Рублево»</h2>
            <address class="p1 courts-list__address">Красногорск, 6-я Мякининская улица</address>
            <p class="p2 courts-list__text">Покрытие: грунт и искусственная трава</p>
          </div>

          <div class="courts-list__comfort">
            <h3 class="h4 courts-list__comfort-title">Удобства</h3>
            <ul class="list-reset courts-list__comfort-list">
              <li class="p2 courts-list__comfort-item">
                Парковка
              </li>
              <li class="p2 courts-list__comfort-item">
                Раздевалка
              </li>
              <li class="p2 courts-list__comfort-item">
                Аренда инвентаря
              </li>
              <li class="p2 courts-list__comfort-item">
                Аренда корта
              </li>
            </ul>
            <div class="courts-list__comfort-buttons">
              <a href="#" class="yellow-btn courts-list__trial">
                Записаться на пробное
              </a>
              <a href="#" class="black-btn courts-list__schedule">
                Расписание
              </a>
            </div>
          </div>
        </div>

        <div class="courts-list__photos">
          <img src="../img/court/courts-2.jpg" alt="Теннисный корт «Рублево»" class="img1 courts-list__photo">
          <img src="../img/court/courts-3.png" alt="Теннисный корт «Рублево»" class="img2 courts-list__photo">
          <img src="../img/court/courts-4.png" alt="Теннисный корт «Рублево»" class="img3 courts-list__photo">
          <img src="../img/court/courts-5.png" alt="Теннисный корт «Рублево»" class="img4 courts-list__photo">
        </div>
      </li>
      <li data-court-content class="courts-list__item">
        <div class="courts-list__content">
          <div class="courts-list__info">
            <h2 class="h2 courts-list__title">4Теннисный корт «Рублево»</h2>
            <address class="p1 courts-list__address">Красногорск, 6-я Мякининская улица</address>
            <p class="p2 courts-list__text">Покрытие: грунт и искусственная трава</p>
          </div>

          <div class="courts-list__comfort">
            <h3 class="h4 courts-list__comfort-title">Удобства</h3>
            <ul class="list-reset courts-list__comfort-list">
              <li class="p2 courts-list__comfort-item">
                Парковка
              </li>
              <li class="p2 courts-list__comfort-item">
                Раздевалка
              </li>
              <li class="p2 courts-list__comfort-item">
                Аренда инвентаря
              </li>
              <li class="p2 courts-list__comfort-item">
                Аренда корта
              </li>
            </ul>
            <div class="courts-list__comfort-buttons">
              <a href="#" class="yellow-btn courts-list__trial">
                Записаться на пробное
              </a>
              <a href="#" class="black-btn courts-list__schedule">
                Расписание
              </a>
            </div>
          </div>
        </div>

        <div class="courts-list__photos">
          <img src="../img/court/courts-2.jpg" alt="Теннисный корт «Рублево»" class="img1 courts-list__photo">
          <img src="../img/court/courts-3.png" alt="Теннисный корт «Рублево»" class="img2 courts-list__photo">
          <img src="../img/court/courts-4.png" alt="Теннисный корт «Рублево»" class="img3 courts-list__photo">
          <img src="../img/court/courts-5.png" alt="Теннисный корт «Рублево»" class="img4 courts-list__photo">
        </div>
      </li>
      <li data-court-content class="courts-list__item">
        <div class="courts-list__content">
          <div class="courts-list__info">
            <h2 class="h2 courts-list__title">5Теннисный корт «Рублево»</h2>
            <address class="p1 courts-list__address">Красногорск, 6-я Мякининская улица</address>
            <p class="p2 courts-list__text">Покрытие: грунт и искусственная трава</p>
          </div>

          <div class="courts-list__comfort">
            <h3 class="h4 courts-list__comfort-title">Удобства</h3>
            <ul class="list-reset courts-list__comfort-list">
              <li class="p2 courts-list__comfort-item">
                Парковка
              </li>
              <li class="p2 courts-list__comfort-item">
                Раздевалка
              </li>
              <li class="p2 courts-list__comfort-item">
                Аренда инвентаря
              </li>
              <li class="p2 courts-list__comfort-item">
                Аренда корта
              </li>
            </ul>
            <div class="courts-list__comfort-buttons">
              <a href="#" class="yellow-btn courts-list__trial">
                Записаться на пробное
              </a>
              <a href="#" class="black-btn courts-list__schedule">
                Расписание
              </a>
            </div>
          </div>
        </div>

        <div class="courts-list__photos">
          <img src="../img/court/courts-2.jpg" alt="Теннисный корт «Рублево»" class="img1 courts-list__photo">
          <img src="../img/court/courts-3.png" alt="Теннисный корт «Рублево»" class="img2 courts-list__photo">
          <img src="../img/court/courts-4.png" alt="Теннисный корт «Рублево»" class="img3 courts-list__photo">
          <img src="../img/court/courts-5.png" alt="Теннисный корт «Рублево»" class="img4 courts-list__photo">
        </div>
      </li>
    </ul>
  </div>
</section>
