<section class="prices__section">
  <div class="container">
    <h2 class="h2 prices-table__title">Групповые занятия</h2>
    <div class="prices-table">
      <ul class="list-reset prices-table__head">
        <li class="h4">
          Название
        </li>
        <li class="h4">
          Цена
        </li>
        <li class="h4">
          Описание
        </li>
      </ul>
      <div class="prices-table__body">
        <ul class="list-reset prices-table__body-item">
          <li class="p2">2 пробных занятия</li>
          <li class="p2">2500 руб.</li>
          <li class="p2">2 пробных занятия в группе для взрослых</li>
        </ul>
        <ul class="list-reset prices-table__body-item">
          <li class="p2">2 пробных занятия</li>
          <li class="p2">2500 руб.</li>
          <li class="p2">2 пробных занятия в группе для взрослых</li>
        </ul>
        <ul class="list-reset prices-table__body-item">
          <li class="p2">2 пробных занятия</li>
          <li class="p2">2500 руб.</li>
          <li class="p2">2 пробных занятия в группе для взрослых</li>
        </ul>
        <ul class="list-reset prices-table__body-item">
          <li class="p2">2 пробных занятия</li>
          <li class="p2">2500 руб.</li>
          <li class="p2">2 пробных занятия в группе для взрослых</li>
        </ul>
      </div>
    </div>

    <p class="p2 prices-table__post-text">
      *В стоимость входит всё оборудование для тренировок, включая корт. Ракетка входит в стоимость на первое пробное занятие. Абонементы можно использовать на занятия длительностью
    </p>
  </div>
</section>

<section class="prices__section">
  <div class="container">
    <h2 class="h2 prices-table__title">Групповые занятия</h2>
    <div class="prices-table">
      <ul class="list-reset prices-table__head">
        <li class="h4">
          Название
        </li>
        <li class="h4">
          Цена
        </li>
        <li class="h4">
          Описание
        </li>
      </ul>
      <div class="prices-table__body">
        <ul class="list-reset prices-table__body-item">
          <li class="p2">2 пробных занятия</li>
          <li class="p2">2500 руб.</li>
          <li class="p2">2 пробных занятия в группе для взрослых</li>
        </ul>
        <ul class="list-reset prices-table__body-item">
          <li class="p2">2 пробных занятия</li>
          <li class="p2">2500 руб.</li>
          <li class="p2">2 пробных занятия в группе для взрослых</li>
        </ul>
        <ul class="list-reset prices-table__body-item">
          <li class="p2">2 пробных занятия</li>
          <li class="p2">2500 руб.</li>
          <li class="p2">2 пробных занятия в группе для взрослых</li>
        </ul>
        <ul class="list-reset prices-table__body-item">
          <li class="p2">2 пробных занятия</li>
          <li class="p2">2500 руб.</li>
          <li class="p2">2 пробных занятия в группе для взрослых</li>
        </ul>
      </div>
    </div>

    <p class="p2 prices-table__post-text">
      *В стоимость входит всё оборудование для тренировок, включая корт. Ракетка входит в стоимость на первое пробное занятие. Абонементы можно использовать на занятия длительностью
    </p>
  </div>
</section>
