
<section class="section team__section">
    <ul class="list-reset team__list">
      <li class="team__item">
        <div class="container">
          <div class="team__image">
            <img src="/img/team/1.jpg" alt="">
          </div>
          <div class="team__info">
            <div class="h3 team__name">Александр</div>
            <div class="p2 team__position">Президент теннисного клуба 10is</div>
          </div>
          <div class="team__content">
            <ul class="p2 team__description">
              <li>Отрицает демократию и выборы</li>
            </ul>
            <div class="p2 team__text">
              Маркетолог. Суетолог. Директолог. Решит любую проблему, ну или убедит вас, что это не проблема
            </div>
          </div>
        </div>
      </li>

      <li class="team__item">
        <div class="container">
          <div class="team__image">
            <img src="/img/team/2.png" alt="">
          </div>
          <div class="team__info">
            <div class="h3 team__name">Нарожная Александра Олеговна</div>
            <div class="team__position">
              <span class="p2 team__experience-title">Тренерский стаж</span>
              <span class="p2 team__experience-years">16 лет</span>
            </div>
          </div>
          <div class="team__content">
            <ul class="p2 team__description">
              <li>Старший тренер и основатель школы</li>
              <li>Тренер международной категории ITF Level 1</li>
            </ul>
            <div class="p2 team__text">
              Придумывает все сборы и мероприятия школы, обучает тренеров, создает атмосферу. Обожает и горит своим делом. Влюблена в теннис с пеленок, посещала теннисные матчи с родителями, когда сама еще не умела ходить
            </div>
          </div>
        </div>
      </li>

      <li class="team__item">
        <div class="container">
          <div class="team__image">
            <img src="/img/team/3.png" alt="">
          </div>
          <div class="team__info">
            <div class="h3 team__name">Беляй Анастасия Павловна</div>
            <div class="team__position">
              <span class="p2 team__experience-title">Тренерский стаж</span>
              <span class="p2 team__experience-years">7 лет</span>
            </div>
          </div>
          <div class="team__content">
            <ul class="p2 team__description">
              <li>КМС по теннису</li>
              <li>Входила в топ-10 игроков Республики Беларусь</li>
              <li>Самый требовательный тренер! У неё не забалуешь</li>
            </ul>
            <div class="p2 team__text">
              Строгая, но справедливая. И при всем этом оооооочень веселая! Ученики говорят про неё: “Все говорят, что за ошибка, а ты - как её исправить”, а еще что она переживает за ошибки и победы учеников больше, чем они сами
            </div>
          </div>
        </div>
      </li>

      <li class="team__item">
        <div class="container">
          <div class="team__image">
            <img src="/img/team/4.png" alt="">
          </div>
          <div class="team__info">
            <div class="h3 team__name">Давыдова Ирина Юрьевна</div>
            <div class="team__position">
              <span class="p2 team__experience-title">Тренерский стаж</span>
              <span class="p2 team__experience-years">10 лет</span>
            </div>
          </div>
          <div class="team__content">
            <ul class="p2 team__description">
              <li>МС по теннису</li>
              <li>Была 3-й ракеткой России</li>
            </ul>
            <div class="p2 team__text">
              Тренер с непоколебимым терпением
            </div>
          </div>
        </div>
      </li>

      <li class="team__item">
        <div class="container">
          <div class="team__image">
            <img src="/img/team/5.png" alt="">
          </div>
          <div class="team__info">
            <div class="h3 team__name">Сорокина Екатерина Алексеевна</div>
            <div class="team__position">
              <span class="p2 team__experience-title">Тренерский стаж</span>
              <span class="p2 team__experience-years">6 лет</span>
            </div>
          </div>
          <div class="team__content">
            <ul class="p2 team__description">
              <li>1 взрослый разряд</li>
              <li>Спарринг-партнер девушек из сборной России по теннису на колясках</li>
            </ul>
            <div class="p2 team__text">
              Тренер - огонь! Зажигает любую тренировку, как бармен самбуку. Иногда может сказать “что-то покрепче”, но это она любя или в шутку. После тренировки с ней ученики говорят: “Уже всё?”
            </div>
          </div>
        </div>
      </li>

      <li class="team__item">
        <div class="container">
          <div class="team__image">
            <img src="/img/team/6.jpg" alt="">
          </div>
          <div class="team__info">
            <div class="h3 team__name">Дарья</div>
            <div class="team__position">
              Самый эмпатичный старший администратор
            </div>
          </div>
          <div class="team__content">
            <div class="p2 team__text">
              Организует для вас 25 час в сутках, чтобы вы смогли поиграть в теннис. Спрашивает, как ваши дела, шлет сердечки и прикольчики в сообщениях, чтобы ваш день стал немного лучше
            </div>
          </div>
        </div>
      </li>

      <li class="team__item">
        <div class="container">
          <div class="team__image">
            <img src="/img/team/7.jpg" alt="">
          </div>
          <div class="team__info">
            <div class="h3 team__name">Наталья</div>
            <div class="team__position">
              Контент, реклама, сайт и т.д.
            </div>
          </div>
          <div class="team__content">
            <div class="p2 team__text">
              Цезарь умел делать 2 вещи одновременно. Наташа - 100.
              <br>Она отвечает за админ часть, контент, рекламу, сотрудничество, сайт, организационные вопросы сборов. А еще она слушает миллион наших идей, вздыхает и говорит “давайте сделаем”.
            </div>
          </div>
        </div>
      </li>

      <li class="team__item">
        <div class="container">
          <div class="team__image">
            <img src="/img/team/8.jpg" alt="">
          </div>
          <div class="team__info">
            <div class="h3 team__name">Константин</div>
            <div class="team__position">
              Тур-менеджер по сборам
            </div>
          </div>
          <div class="team__content">
            <div class="p2 team__text">
              Гуру в подготовке, оформлении и сопровождении в самые прекрасные места нашей планеты, где мы играем в теннис. Не сомкнет глаз даже самой глубокой ночью, пока не убедиться, что вы сели в самолет. Организовал наши туры за границу даже во время ковида и других ограничений
            </div>
          </div>
        </div>
      </li>
    </ul>
</section>
