<section class="section black-block">
  <div class="container">
    <div class="black-block__titles">
      <h2 class="h1 black-block__title">@title</h2>
      <span class="b1 black-block__text">@postTitle</span>
    </div>
    <ul class="list-reset black-block__list">
      <li class="black-block__item">
        <div class="black-block__icon">
          <svg>
            <use xlink:href="/img/sprite.svg#people"></use>
          </svg>
        </div>
        <h3 class="h4 black-block__item-title">Дружеская компания</h3>
        <p class="p3 black-block__item-text">
          По данным ATP, спортсмены в группе на 65% чаще сохраняют регулярность тренировок благодаря дружбе и общению
        </p>
      </li>
      <li class="black-block__item">
        <div class="black-block__icon">
          <svg>
            <use xlink:href="/img/sprite.svg#money"></use>
          </svg>
        </div>
        <h3 class="h4 black-block__item-title">Экономия на ура</h3>
        <p class="p3 black-block__item-text">
          Групповые занятия, в среднем, в 3-4 раза дешевле индивидуальных
        </p>
      </li>
      <li class="black-block__item">
        <div class="black-block__icon">
          <svg>
            <use xlink:href="/img/sprite.svg#fire"></use>
          </svg>
        </div>
        <h3 class="h4 black-block__item-title">Эффективные методики</h3>
        <p class="p3 black-block__item-text">
          Наши ученики отмечают улучшение своих навыков после первого месяца тренировок. Равномерная нагрузка сохраняет вашу энергию и предотвращает травмы
        </p>
      </li>
    </ul>
  </div>
</section>
