<section class="section advantages">
  <div class="container">
    <div class="advantages__titles">
      <h2 class="h1 advantages__title">Преимущества</h2>
      <p class="p2 advantages__text">аренды кортов</p>
    </div>
    <ul class="list-reset advantages-list">
      <li class="advantages-list__item black">
        <div class="advantages-list__icon">
          <svg>
            <use xlink:href="/img/sprite.svg#calendar"></use>
          </svg>
        </div>
        <h3 class="h4 advantages-list__title">Запись онлайн</h3>
        <p class="p3 advantages-list__text">
          Выбирайте дату и время на сайте и бронируйте корт
        </p>
      </li>

      <li class="advantages-list__item white">
        <div class="advantages-list__icon">
          <svg>
            <use xlink:href="/img/sprite.svg#location"></use>
          </svg>
        </div>
        <h3 class="h4 advantages-list__title">Рядом с вами</h3>
        <p class="p3 advantages-list__text">
          Находимся в 2-х минутах от МКАД на машине
        </p>
      </li>

      <li class="advantages-list__item yellow">
        <div class="advantages-list__icon">
          <svg>
            <use xlink:href="/img/sprite.svg#star"></use>
          </svg>
        </div>
        <h3 class="h4 advantages-list__title">Новые корты</h3>
        <p class="p3 advantages-list__text">
          2 корта с покрытием грунт и искусственная трава
        </p>
      </li>

      <li class="advantages-list__item yellow">
        <div class="advantages-list__icon">
          <svg>
            <use xlink:href="/img/sprite.svg#people"></use>
          </svg>
        </div>
        <h3 class="h4 advantages-list__title">Теннисное комьюнити</h3>
        <p class="p3 advantages-list__text">
          Уроки тенниса в группах и индивидуально, турниры
        </p>
      </li>

      <li class="advantages-list__item black">
        <div class="advantages-list__icon">
          <svg>
            <use xlink:href="/img/sprite.svg#rocket"></use>
          </svg>
        </div>
        <h3 class="h4 advantages-list__title">Инвентарь</h3>
        <p class="p3 advantages-list__text">
          Услуга аренды мячей и ракеток при необходимости
        </p>
      </li>

      <li class="advantages-list__item white">
        <div class="advantages-list__icon">
          <svg>
            <use xlink:href="/img/sprite.svg#parking"></use>
          </svg>
        </div>
        <h3 class="h4 advantages-list__title">Удобство</h3>
        <p class="p3 advantages-list__text">
          Платная и бесплатная парковка, раздевалка, душ
        </p>
      </li>
    </ul>
  </div>
</section>
