<section class="section programs">
  <div class="container">
    <div class="programs__block">
      <h2 class="h1 programs__title _anim-item no-hide">Наши программы</h2>
      <ul class="list-reset programs__content">
        <li class="programs-item _anim-item no-hide">
          <div class="programs-item__info">
            <h3 class="h3 programs-item__title">Школа тенниса</h3>
            <p class="p3 programs-item__text">
              Для взрослых и для детей. Для новичков, любителей и будущих профессионалов. Опытные тренеры. Удобные локации. Веселая компания. Мы обо всем позаботились
            </p>
          </div>
          <a href="#" class="programs-item__link">
            <span class="p3">Подробнее</span>
            <svg class="programs-item__svg">
              <use xlink:href="./img/sprite.svg#arrow1"></use>
            </svg>
          </a>
        </li>
        <li class="programs-item _anim-item no-hide">
          <div class="programs-item__info">
            <h3 class="h3 programs-item__title">Теннисные кэмпы</h3>
            <p class="p3 programs-item__text">
              Насыщенные программы, объединяющие теннис и самые интересные путешествия по стране и миру. Каждый день продуман до мелочей, вам остается только довериться и открыться новым впечатлениям
            </p>
          </div>
          <a href="#" class="programs-item__link">
            <span class="p3">Подробнее</span>
            <svg class="programs-item__svg">
              <use xlink:href="./img/sprite.svg#arrow1"></use>
            </svg>
          </a>
        </li>
        <li class="programs-item _anim-item no-hide">
          <div class="programs-item__info">
            <h3 class="h3 programs-item__title">Турниры</h3>
            <p class="p3 programs-item__text">
              Мы организуем регулярные внутренние турниры, предлагая игрокам любого уровня возможность выйти на корт и проявить свой талант
            </p>
          </div>
          <a href="#" class="programs-item__link">
            <span class="p3">Подробнее</span>
            <svg class="programs-item__svg">
              <use xlink:href="./img/sprite.svg#arrow1"></use>
            </svg>
          </a>
        </li>
        <li class="programs-item _anim-item no-hide">
          <div class="programs-item__info">
            <h3 class="h3 programs-item__title">Корты на берегу Москвы-реки</h3>
            <p class="p3 programs-item__text">
              Предлагаем аренду двух открытых теннисных кортов в 15-минутах ходьбы от метро Мякинино, расположенных в живописном месте на берегу Москвы-реки
            </p>
          </div>
          <a href="#" class="programs-item__link">
            <span class="p3">Подробнее</span>
            <svg class="programs-item__svg">
              <use xlink:href="./img/sprite.svg#arrow1"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
