<section class="section promo-block">
  <div class="container">
    <h1 class="h1 promo-block__title">@title</h1>
    <div class="promo-block__block">
      <div class="promo-block__content">
        <span class="promo-block__text">
          @text1
        </span>
        <div class="polaroid promo-block__img img1">
          <img src="@img1" alt="" class="">
        </div>
      </div>
      <div class="promo-block__content">
        <span class="promo-block__text">
          @text2
        </span>
        <div class="polaroid promo-block__img img2">
          <img src="@img2" alt="" class="">
        </div>
        <div class="polaroid promo-block__img img3">
          <img src="@img3" alt="" class="">
        </div>
      </div>
      <div class="promo-block__content">
        <span class="promo-block__text">
          @text3
        </span>
        <div class="polaroid promo-block__img img4">
          <img src="@img4" alt="" class="">
        </div>
      </div>
    </div>
    <!-- открывается попап формы -->
    <button href="" class="yellow-btn promo-block__link js-sign-in-popup-btn">Записаться</button>
  </div>
</section>
