<section class="section faq">
  <div class="container">
    <div class="faq__block">
      <div class="faq-left">
        <div class="faq-left__titles">
          <h3 class="h4 faq-left__pre-title">Часто задаваемые</h3>
          <h2 class="h1 faq-left__title">Вопросы</h2>
          <h3 class="p3 faq-left__post-title">
            Мы собрали ответы на наиболее часто задаваемые вопросы
          </h3>
        </div>
        <div class="contact-banner faq-left__contact-banner">
          <div class="contact-banner__titles">
            <h3 class="h4 contact-banner__title">Хотите спросить ещё о чем-то?</h3>
            <p class="p3 contact-banner__text">Позвоните нам или напишите в WhatsApp или Telegram</p>
          </div>
          <div class="contact-banner__block-links">
            <a href="tel:+74998771317" class="p3 contact-banner__tel-link">
              <svg>
                <use xlink:href="img/sprite.svg#telephone"></use>
              </svg>
              +7 (499) 877-13-17
            </a>
            <div class="contact-banner__links">
              <a href="#" class="watsapp contact-banner__link">
                <img src="/img/icons/watsapp.png" alt="">
              </a>
              <a href="#" class="telegram contact-banner__link">
                <img src="/img/icons/telegram.png" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="faq-right">
        <ul class="list-reset faq-list">
          <li class="faq-list__item">
            <div class="faq-list__top" aria-expanded="false">
              <div class="faq-list__top-title">
                <h2 class="p2 faq-list__title">С какой тренировки стоит начать обучение, если я никогда не играл в теннис?</h2>
              </div>
              <button class="btn-reset faq-list__btn">
                <img src="/img/icons/arrow-2.svg" alt="">
              </button>
            </div>
            <div class="faq-list__content" aria-hidden="true">
              <p class="p3 faq-list__text">
                Мы рекомендуем начинать обучение с индивидуальных тренировок с тренером. Это поможет вам лучше освоить технику игры и более глубоко понять процесс. После этого вы сможете совершенствовать технику и игру в группах. Преимущества индивидуальной тренировки заключаются в том, что такая тренировка позволяет тренеру полностью сосредоточиться на потребностях и целях каждого ученика, адаптировать урок под его уровень подготовки, что способствует более быстрому и эффективному прогрессу.
                <br><br>
                Если Вам понравятся индивидуальные тренировки, мы поможем подобрать удобное для Вас место и время
              </p>
            </div>
          </li>
          <li class="faq-list__item">
            <div class="faq-list__top" aria-expanded="false">
              <div class="faq-list__top-title">
                <h2 class="p2 faq-list__title">Как ваша школа обеспечивает эффективное обучение?</h2>
              </div>
              <button class="btn-reset faq-list__btn">
                <img src="/img/icons/arrow-2.svg" alt="">
              </button>
            </div>
            <div class="faq-list__content" aria-hidden="true">
              <p class="p3 faq-list__text">
                Мы рекомендуем начинать обучение с индивидуальных тренировок с тренером. Это поможет вам лучше освоить технику игры и более глубоко понять процесс. После этого вы сможете совершенствовать технику и игру в группах. Преимущества индивидуальной тренировки заключаются в том, что такая тренировка позволяет тренеру полностью сосредоточиться на потребностях и целях каждого ученика, адаптировать урок под его уровень подготовки, что способствует более быстрому и эффективному прогрессу.
                <br><br>
                Если Вам понравятся индивидуальные тренировки, мы поможем подобрать удобное для Вас место и время
              </p>
            </div>
          </li>
          <li class="faq-list__item">
            <div class="faq-list__top" aria-expanded="false">
              <div class="faq-list__top-title">
                <h2 class="p2 faq-list__title">На какое количество часов у вас есть абонемент?</h2>
              </div>
              <button class="btn-reset faq-list__btn">
                <img src="/img/icons/arrow-2.svg" alt="">
              </button>
            </div>
            <div class="faq-list__content" aria-hidden="true">
              <p class="p3 faq-list__text">
                Мы рекомендуем начинать обучение с индивидуальных тренировок с тренером. Это поможет вам лучше освоить технику игры и более глубоко понять процесс. После этого вы сможете совершенствовать технику и игру в группах. Преимущества индивидуальной тренировки заключаются в том, что такая тренировка позволяет тренеру полностью сосредоточиться на потребностях и целях каждого ученика, адаптировать урок под его уровень подготовки, что способствует более быстрому и эффективному прогрессу.
                <br><br>
                Если Вам понравятся индивидуальные тренировки, мы поможем подобрать удобное для Вас место и время
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
