<section class="locations">
  <div class="container locations__container">
    <div class="locations__block">
      <div class="locations__titles">
        <h3 class="h4 locations__pre-title">Выберите для себя</h3>
        <h2 class="h1 location__title">Локации</h2>
      </div>
      <a href="" class="yellow-btn locations__link">Подробнее</a>
      <div class="locations__swiper-block">
        <div class="swiper locations__swiper js-locations-swiper">
          <div class="locations__btns">
            <div class="swiper-button-prev locations__btn js-locations-btn-prev">
              <svg>
                <use xlink:href="./img/sprite.svg#arrow3"></use>
              </svg>
            </div>
            <div class="swiper-button-next locations__btn js-locations-btn-next">
              <svg>
                <use xlink:href="./img/sprite.svg#arrow3"></use>
              </svg>
            </div>
          </div>
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="locations__slide">
                <div class="locations__img-block">
                  <span class="locations__promo">
                    <img src="./img/icons/register.png" alt="Онлайн запись" class="locations__promo-img">
                  </span>
                  <img src="./img/locations/taejnij_promo.png" alt="Таёжный" class="locations__img">
                </div>
                <div class="locations-info">
                  <h3 class="h4 locations-info__title">Таёжный</h3>
                  <address class="text-3 locations-info__address">Москва, Волоколамское ш., 89к1с 1</address>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="locations__slide">
                <div class="locations__img-block">
                  <img src="./img/locations/etud_promo.png" alt="Этюд" class="locations__img">
                </div>
                <div class="locations-info">
                  <h3 class="h4 locations-info__title">Этюд</h3>
                  <address class="text-3 locations-info__address">Отрадное, Прокофьева 1а</address>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="locations__slide">
                <div class="locations__img-block">
                  <img src="./img/locations/nemchinovka_promo.png" alt="Немчиновка" class="locations__img">
                </div>
                <div class="locations-info">
                  <h3 class="h4 locations-info__title">Немчиновка</h3>
                  <address class="text-3 locations-info__address">2-я Запрудная, 36</address>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="locations__slide">
                <div class="locations__img-block">
                  <img src="./img/locations/zenit_promo.png" alt="Зенит" class="locations__img">
                </div>
                <div class="locations-info">
                  <h3 class="h4 locations-info__title">Зенит</h3>
                  <address class="text-3 locations-info__address">Красногорск, Советская, 14</address>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="locations__slide">
                <div class="locations__img-block">
                  <img src="./img/locations/krasnogorsk_promo.png" alt="Красногорск" class="locations__img">
                </div>
                <div class="locations-info">
                  <h3 class="h4 locations-info__title">Красногорск</h3>
                  <address class="text-3 locations-info__address">ЖК Парк Рублёво</address>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
