.how-started {
  margin-bottom: 160px;
  padding: 120px 0 131px;
  background-color: $black-color;
  border-radius: 40px;

  @include desktop {
    margin-bottom: 120px;
    padding: 120px 0 120px;
  }
  @include tablet {
    margin-bottom: 100px;
    padding: 100px 0 85px;
  }
  @include mobile {
    padding: 100px 0;
    border-radius: 30px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 80px;
    @include desktop {
      gap: 60px;
    }
    @include tablet {
      gap: 50px;
    }
    @include mobile {
      gap: 40px;
    }
  }

  &__top {
    display: flex;
    gap: 10%;
    padding-bottom: 80px;
    border-bottom: 2px solid $white-color;
    @include desktop {
      padding-bottom: 60px;
    }
    @include tablet {
      flex-direction: column;
      padding-bottom: 50px;
      border-width: 1px;
    }
    @include mobile {
      padding-bottom: 40px;
    }
  }

  &__img {
    width: 32%;
    border-radius: 20px;
    overflow: hidden;

    @include tablet {
      display: none;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__content {
    width: 58%;
    @include tablet {
      width: 100%;
    }

    & img {
      display: none;
      @include tablet {
        display: flex;
        margin-bottom: 50px;
        width: 100%;
        max-height: 395px;
        border-radius: 20px;
        overflow: hidden;
      }
      @include mobile {
        margin-bottom: 40px;
      }
    }
  }

  &__title,
  &__text {
    color: $white-color;

    @include mobile {
      text-align: center;
    }
  }

  &__title {
    margin-bottom: 60px;

    @include tablet {
      margin-bottom: 50px;
    }
    @include mobile {
      margin-bottom: 40px;
    }
  }

  &__text + .how-started__text {
    margin-top: 20px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;

    @include tablet {
      gap: 40px 5px;
    }
    @include mobile {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: calc(100% / 6 - 15px);

    @include tablet {
      flex-wrap: wrap;
      width: calc(100% / 5);
    }
    @include mobile {
      width: 100%;
    }

    &:nth-child(5),
    &:nth-child(6) {
      @include tablet {
        width: calc(50% - 5px);
      }

      @include mobile {
        width: 100%;
      }
    }


    &-title,
    &-text {
      text-align: center;
      color: $white-color;
    }

    &-title {
      @include tablet {
        text-align: center;
      }
    }

    &-text {
      @include mobile {
        font-size: 16px;
        font-weight: 400;
        line-height: 1;
      }
    }
  }
}
