<!-- <header class="header">
  <div class="container">

    <div class="header__block">
      <a href="/" class="header__logo-link">
        <svg class="header__logo">
          <use xlink:href="./img/logo.png"></use>
        </svg>
      </a>

      <nav class="header-nav fixed-block" data-menu>
        <ul class="list-reset header-nav__list">
          <li class="header-nav__item"><a href="/">Главная</a></li>
          <li class="header-nav__item">
            <a href="#">Школа</a>
            <ul class="list-reset header-nav__dropdown">
              <li class="header-nav__dropdown-item">
                <a href="#">
                  Групповые для взрослых
                </a>
              </li>
              <li class="header-nav__dropdown-item">
                <a href="#">
                  Теннис для детей
                </a>
              </li>
              <li class="header-nav__dropdown-item">
                <a href="#">
                  Теннис для детей
                </a>
              </li>
              <li class="header-nav__dropdown-item">
                <a href="#">
                  Индивидуальные тренировки
                </a>
              </li>
              <li class="header-nav__dropdown-item">
                <a href="#">
                  Сплит тренировки
                </a>
              </li>
            </ul>
          </li>
          <li class="header-nav__item"><a href="/">Кэмпы</a></li>
          <li class="header-nav__item"><a href="/">Турниры</a></li>
          <li class="header-nav__item"><a href="/">Цены</a></li>
          <li class="header-nav__item"><a href="/">Аренда корта</a></li>
          <li class="header-nav__item">
            <a href="#">О нас</a>
            <ul class="list-reset header-nav__dropdown">
              <li class="header-nav__dropdown-item">
                <a href="#">
                  Наша команда
                </a>
              </li>
              <li class="header-nav__dropdown-item">
                <a href="#">
                  Корты
                </a>
              </li>
              <li class="header-nav__dropdown-item">
                <a href="#">
                  Правила
                </a>
              </li>
              <li class="header-nav__dropdown-item">
                <a href="#">
                  Контакты
                </a>
              </li>
            </ul>
          </li>
        </ul>

        <a href="tel:+74998771317" class="header-nav__phone">
          <svg>
            <use xlink:href="img/sprite.svg#telephone"></use>
          </svg>
          +7 (499) 877-13-17
        </a>
        <ul class="list-reset header-icons__list">
          <li class="header-icons__item">
            <a href="#" class="header-icons__link">
              <svg>
                <use xlink:href="img/sprite.svg#watsapp"></use>
              </svg>
            </a>
          </li>
          <li class="header-icons__item">
            <a href="#" class="header-icons__link">
              <svg>
                <use xlink:href="img/sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </nav>

      <div class="header-links__block">
        <a href="tel:+74998771317" class="header-links__phone">
          <svg>
            <use xlink:href="img/sprite.svg#telephone"></use>
          </svg>
          +7 (499) 877-13-17
        </a>
        <ul class="list-reset header-icons__list">
          <li class="header-icons__item">
            <a href="#" class="header-icons__link">
              <svg>
                <use xlink:href="img/sprite.svg#watsapp"></use>
              </svg>
            </a>
          </li>
          <li class="header-icons__item">
            <a href="#" class="header-icons__link">
              <svg>
                <use xlink:href="img/sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
        <span class="burger__line"></span>
      </button>
    </div>

  </div>
</header> -->
