<header class="header js-header">
  <div class="container header__container">
    <div class="header__logo">
      <a href="/">
        <img src="/img/logo.png" alt="" class="header__logo--white">
        <img src="/img/logo-black.png" alt="" class="header__logo--black">
      </a>
    </div>
    <div class="header__menu js-menu">
      <nav class="header__nav">
        <a href="/" class="header__nav-link"><span class="header__nav-link-inner text-3">Главная</span></a>
        <div href="#" class="header__nav-link has-submenu">
          <span class="header__nav-link-inner text-3">Школа</span>
          <div class="header__nav-submenu">
            <div class="header__nav-submenu-inner">
              <a href="/pages/trainings-adults.html" class="header__nav-link"><span class="header__nav-link-inner text-3">Групповые для взрослых</span></a>
              <a href="/pages/trainings-kids.html" class="header__nav-link"><span class="header__nav-link-inner text-3">Теннис для детей</span></a>
              <a href="/pages/trainings-kids.html" class="header__nav-link"><span class="header__nav-link-inner text-3">Теннис для подростков</span></a>
              <a href="/pages/trainings-personal.html" class="header__nav-link"><span class="header__nav-link-inner text-3">Индивидуальные тренировки</span></a>
              <a href="/pages/trainings-personal.html" class="header__nav-link"><span class="header__nav-link-inner text-3">Сплит тренировки</span></a>
            </div>
          </div>
        </div>
        <a href="/pages/camps.html" class="header__nav-link"><span class="header__nav-link-inner text-3">Кэмпы</span></a>
        <a href="/pages/events.html" class="header__nav-link"><span class="header__nav-link-inner text-3">Турниры</span></a>
        <a href="/pages/prices.html" class="header__nav-link"><span class="header__nav-link-inner text-3">Цена</span></a>
        <a href="/pages/court-rent.html" class="header__nav-link"><span class="header__nav-link-inner text-3">Аренда корта</span></a>
        <div href="#" class="header__nav-link has-submenu">
          <span class="header__nav-link-inner text-3">О нас</span>
          <div class="header__nav-submenu">
            <div class="header__nav-submenu-inner">
              <a href="/pages/team.html" class="header__nav-link"><span class="header__nav-link-inner text-3">Наша команда</span></a>
              <a href="/pages/courts.html" class="header__nav-link"><span class="header__nav-link-inner text-3">Корты</span></a>
              <a href="/pages/rules.html" class="header__nav-link"><span class="header__nav-link-inner text-3">Правила</span></a>
              <a href="#" class="header__nav-link"><span class="header__nav-link-inner text-3">Контакты</span></a>
            </div>
          </div>
        </div>
      </nav>
      <div class="header__contacts header__nav-contacts">
        <a href="tel:+74998771317" class="header__contacts-phone">
          <svg class="header__contacts-icon icon">
            <use xlink:href="/img/sprite.svg#telephone"></use>
          </svg>
          +7 (499) 877-13-17
        </a>
        <div class="header__contacts-social">
          <a href="#" class="header__contacts-social-link header__contacts-wa">
            <svg class="header__contacts-icon icon">
              <use xlink:href="/img/sprite.svg#whatsapp-rounded"></use>
            </svg>
          </a>
          <a href="#" class="header__contacts-social-link header__contacts-tg">
            <svg class="header__contacts-icon icon">
              <use xlink:href="/img/sprite.svg#telegram-rounded"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="header__contacts">
      <a href="tel:+74998771317" class="header__contacts-phone">
        <svg class="header__contacts-icon icon">
          <use xlink:href="/img/sprite.svg#telephone"></use>
        </svg>
        +7 (499) 877-13-17
      </a>
      <div class="header__contacts-social">
        <a href="#" class="header__contacts-social-link social-link">
          <svg class="header__contacts-icon icon">
            <use xlink:href="/img/sprite.svg#whatsapp-rounded"></use>
          </svg>
        </a>
        <a href="#" class="header__contacts-social-link social-link">
          <svg class="header__contacts-icon icon">
            <use xlink:href="/img/sprite.svg#telegram-rounded"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="header__burger js-burger">
      <div class="header__burger-line burger-line-one"></div>
      <div class="header__burger-line burger-line-two"></div>
      <div class="header__burger-line burger-line-three"></div>
    </div>
  </div>
</header>
