<div data-timer data-time="@date" class="timer">
  <div data-days class="timer__box">
    <div class="h2 timer__val">25</div>
    <span class="p2 timer__text">Дней</span>
  </div>
  <div data-hours class="timer__box">
    <div class="h2 timer__val">08</div>
    <span class="p2 timer__text">часов</span>
  </div>
  <div data-minutes class="timer__box">
    <div class="h2 timer__val">43</div>
    <span class="p2 timer__text">минут</span>
  </div>
  <div data-seconds class="timer__box">
    <div class="h2 timer__val">12</div>
    <span class="p2 timer__text">секунд</span>
  </div>
</div>
