.tennis-grid {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include mobile {
      gap: 10px;
    }
  }

  &__item {
    padding: 72px 92px;
    min-height: 280px;
    background-color: $black-color;
    border-radius: 40px;
    @include desktop {
      padding: 72px 61px;
      min-height: 245px;
    }
    @include tablet {
      padding: 49px 29px 55px;
      min-height: 224px;
      border-radius: 30px;
    }
    @include mobile {
      padding: 29px 19px;
      min-height: 168px;
      border-radius: 20px;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid $yellow-color;
    @include desktop {
      padding-bottom: 16px;
    }
    @include tablet {
      padding-bottom: 20px;
    }
    @include mobile {
      padding-bottom: 15px;
    }
  }

  &__title {
    color: $yellow-color;

    @include mobile {
      max-width: 147px;
      font-size: 16px;
      font-weight: 500;
      line-height: 16px;
    }
  }

  &__price {
    color: $yellow-color;
    @include mobile {
      font-size: 16px;
      font-weight: 500;
      line-height: 16px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    @include tablet {
      margin-top: 20px;
    }
    @include mobile {
      flex-direction: column;
      gap: 20px;
      margin-top: 15px;
    }
  }

  &__text,
  &__link {
    color: $white-color;
  }

  &__text {
    max-width: 55%;
    @include tablet {
      max-width: 68%;
    }
    @include mobile {
      max-width: 94%;
    }
  }

  &__link {
    display: flex;
    align-items: flex-start;
    @include tablet {
      margin-right: 12px;
    }
    & svg {
      margin-top: 3px;
      margin-left: 20px;
      width: 16px;
      height: 16px;
      fill: $white-color;
      stroke: $white-color;
      transition: all .3s ease;
      @include tablet {
        width: 13px;
        height: 13px;
      }
      @include mobile {
        margin-top: 2px;
        margin-left: 10px;
        width: 11px;
        height: 11px;
      }
    }
  }
}
