<section class="section about-school">
  <div class="container">
    <h1 class="h1 section-title about-school__title">Школа тенниса 10is</h1>
    <div class="about-school__block">
      <div class="about-school__content">
        <span class="about-school__text">
          Мы – теннисный клуб на северо-западе Москвы. Уже 8 лет мы объединяем людей любовью к теннису ❤️
        </span>
      </div>
      <div class="about-school__content">
        <span class="about-school__text">10is - больше, чем теннис. 10is - это дружеская атмосфера, поводы для общения и новых знакомств, путешествия по живописным местам, здоровье и отдых</span>
      </div>
      <div class="about-school__content">
        <span class="about-school__text">
          Мы – семья, объединяющая более 1000 учеников, где каждый может найти что-то своё
          <br><br>
          Добро пожаловать домой, в 10is&nbsp;❤️
        </span>
      </div>
      <img src="./img/main/story-1.png" alt="" class="about-school__img img1">
      <img src="./img/main/story-2.png" alt="" class="about-school__img img2">
      <img src="./img/main/story-3.png" alt="" class="about-school__img img3">
      <img src="./img/main/story-4.png" alt="" class="about-school__img img4">
    </div>
    <a href="" class="yellow-btn about-school__link js-sign-in-popup-btn">Записаться</a>
  </div>
</section>
