<section class="section achievements">
  <div class="container">
    <h2 class="h1 achievements__title _anim-item no-hide">Что делает нас особенными?</h2>
    <ul class="list-reset achievements__grid">
      <li class="achievements__item _anim-item no-hide">
        <div class="achievements__top">
          <div class="achievements__icon">
            <svg>
              <use xlink:href="./img/sprite.svg#heart"></use>
            </svg>
          </div>
          <h3 class="h3">Тренерский состав</h3>
        </div>
        <p class="p3">У нас работают высококвалифицированные тренера, которые постоянно совершенствуются и изучают новые методы и технологии обучения</p>
      </li>
      <li class="achievements__item _anim-item no-hide">
        <div class="achievements__top">
          <div class="achievements__icon">
            <svg>
              <use xlink:href="./img/sprite.svg#heart"></use>
            </svg>
          </div>
          <h3 class="h3">Комфорт</h3>
        </div>
        <p class="p3">У нас вы найдете единомышленников,
          с которыми Вам будет максимально комфортно заниматься вместе</p>
      </li>
      <li class="achievements__item _anim-item no-hide">
        <div class="achievements__top">
          <div class="achievements__icon">
            <svg>
              <use xlink:href="./img/sprite.svg#heart"></use>
            </svg>
          </div>
          <h3 class="h3">С нами выгодно</h3>
        </div>
        <p class="p3">Мы заботимся о том, чтобы расценки на наши услуги были доступны каждому и без дополнительных затрат (аренда корта и работа с профессиональным тренером УЖЕ включены в стоимость)</p>
      </li>
      <li class="achievements__item _anim-item no-hide">
        <div class="achievements__top">
          <div class="achievements__icon">
            <svg>
              <use xlink:href="./img/sprite.svg#heart"></use>
            </svg>
          </div>
          <h3 class="h3">Расположение</h3>
        </div>
        <p class="p3">Мы стараемся проводить наши тренировки на локациях, которые удобны Вам</p>
      </li>
      <li class="achievements__item _anim-item no-hide">
        <div class="achievements__top">
          <div class="achievements__icon">
            <svg>
              <use xlink:href="./img/sprite.svg#heart"></use>
            </svg>
          </div>
          <h3 class="h3">Комфорт</h3>
        </div>
        <p class="p3">У нас вы найдете единомышленников,
          с которыми Вам будет максимально комфортно заниматься вместе</p>
      </li>
      <li class="achievements__item _anim-item no-hide">
        <div class="achievements__top">
          <div class="achievements__icon">
            <svg>
              <use xlink:href="./img/sprite.svg#heart"></use>
            </svg>
          </div>
          <h3 class="h3">С нами выгодно</h3>
        </div>
        <p class="p3">Мы заботимся о том, чтобы расценки на наши услуги были доступны каждому и без дополнительных затрат (аренда корта и работа с профессиональным тренером УЖЕ включены в стоимость)</p>
      </li>
    </ul>

    <div class="achievements-bottom">
      <div class="achievements-bottom__left">
        <h2 class="h2 achievements-bottom__title">
          В 2024 году мы:
        </h2>

        <ul class="list-reset achievements-bottom__list">
          <li class="achievements-bottom__item">
            <h3 class="h2 achievements-bottom__number">5</h3>
            <p class="h3 achievements-bottom__text">тренеров</p>
          </li>
          <li class="achievements-bottom__item">
            <h3 class="h2 achievements-bottom__number">30+</h3>
            <p class="h3 achievements-bottom__text">сборов</p>
          </li>
          <li class="achievements-bottom__item">
            <h3 class="h2 achievements-bottom__number">5</h3>
            <p class="h3 achievements-bottom__text">локации</p>
          </li>
          <li class="achievements-bottom__item">
            <h3 class="h2 achievements-bottom__number">70+</h3>
            <p class="h3 achievements-bottom__text">проведенных мероприятий</p>
          </li>
          <li class="achievements-bottom__item">
            <h3 class="h2 achievements-bottom__number">2</h3>
            <p class="h3 achievements-bottom__text">своих корта</p>
          </li>
          <li class="achievements-bottom__item">
            <h3 class="h2 achievements-bottom__number">650+</h3>
            <p class="h3 achievements-bottom__text">довольных учеников за год</p>
          </li>
        </ul>

        <button class="yellow-btn achievements-bottom__button">Подробнее</button>
      </div>

      <img src="https://10is.ru/wp-content/uploads/2024/12/кто-мы-такие.png" alt="Что делает нас особенными?" class="achievements-bottom__img _anim-item no-hide">
    </div>


  </div>
</section>
