<section class="instagram">
  <div class="container">
    <h2 class="h1 instagram__title">Наш инстаграм</h2>
    <span class="p4 instagram__post-title">Деятельность Инстаграм запрещена на территории Российской Федерации</span>

    <ul class="list-reset instagram__grid">
      <li class="instagram__item">
        <a href="" class="instagram__link">
          <img src="./img/main/inst-1.jpg" alt="Наш инстаграм">
        </a>
      </li>
      <li class="instagram__item">
        <a href="" class="instagram__link">
          <img src="./img/main/inst-2.jpg" alt="Наш инстаграм">
        </a>
      </li>
      <li class="instagram__item">
        <a href="" class="instagram__link">
          <img src="./img/main/inst-3.jpg" alt="Наш инстаграм">
        </a>
      </li>
      <li class="instagram__item">
        <a href="" class="instagram__link">
          <img src="./img/main/inst-4.jpg" alt="Наш инстаграм">
        </a>
      </li>
      <li class="instagram__item">
        <a href="" class="instagram__link">
          <img src="./img/main/inst-5.jpg" alt="Наш инстаграм">
        </a>
      </li>
      <li class="instagram__item">
        <a href="" class="instagram__link">
          <img src="./img/main/inst-6.jpg" alt="Наш инстаграм">
        </a>
      </li>
      <li class="instagram__item">
        <a href="" class="instagram__link">
          <img src="./img/main/inst-7.jpg" alt="Наш инстаграм">
        </a>
      </li>
      <li class="instagram__item">
        <a href="" class="instagram__link">
          <img src="./img/main/inst-8.jpg" alt="Наш инстаграм">
        </a>
      </li>
    </ul>
  </div>
</section>
