<section class="section partners">
  <div class="container">
    <div class="partners__block">
      <h2 class="h1 partners__title">Наши партнеры</h2>
      <ul class="list-reset partners__grid">
        <li class="partners__item">
          <img src="./img/partners/quicksilver.png" alt="quicksilver">
        </li>
        <li class="partners__item">
          <img src="./img/partners/surfcoffee.png" alt="surfcoffee">
        </li>
        <li class="partners__item">
          <img src="./img/partners/boardriders.png" alt="boardriders">
        </li>
        <li class="partners__item">
          <img src="./img/partners/kamchatka.png" alt="kamchatka">
        </li>
        <li class="partners__item">
          <img src="./img/partners/endless-summer.png" alt="endless-summer">
        </li>
        <li class="partners__item">
          <img src="./img/partners/alliance.png" alt="alliance">
        </li>
      </ul>
    </div>
  </div>
</section>
