<section class="section registration">
  <div class="container">
    <h2 class="h1 registration__title">Хочу играть в теннис</h2>
    <div class="registration__block">
      <div class="registration-left">
        <h3 class="h3 registration-left__title">Оставьте свои данные и менеджер свяжется с вами</h3>
        <form action="post" class="registration-form">
          <label class="text-3 registration-form__label">
            <input type="text" placeholder="Имя" required>
          </label>
          <label class="text-3 registration-form__label">
            <input type="email" placeholder="Электронная почта" required>
          </label>
          <label class="text-3 registration-form__label">
            <input type="tel" placeholder="Номер телефона" required>
          </label>
          <label class="text-3 registration-form__label">
            <select name="experience" class="js-registration-experience" aria-label="Опыт">
              <option value="" selected>Опыт</option>
              <option value="3 года">3 года</option>
              <option value="4 года">4 года</option>
            </select>
          </label>
          <label class="text-3 registration-form__label">
            <select name="service" class="js-registration-service" aria-label="Услуга">
              <option value="" selected>Услуга</option>
              <option value="3 года">3 года</option>
              <option value="4 года">4 года</option>
            </select>
          </label>
          <label class="text-3 registration-form__label">
            <textarea name="" placeholder="Пожелания" class="text-3" data-autoresize rows="1"></textarea>
            <span class="triangle"></span>
          </label>

          <div class="registration-form-bottom">
            <button class="black-btn registration-form-bottom__button" type="submit">
              Отправить
            </button>
            <span class="text-5 registration-form-bottom__text">Нажимая на кнопку, вы соглашаетесь с <a href="#">условиями пользовательского соглашения</a></span>
          </div>
        </form>
      </div>
      <div class="registration-right">
        <img src="/img/main/registration.jpg" alt="">
      </div>
    </div>
  </div>
</section>
