<section class="section section-padding team-block">
  <div class="container">
    <h2 class="h1 section-title center">Наша команда</h2>
    <div class="swiper team-slider js-team-slider">
      <div class="swiper__btns">
        <div class="swiper-button-prev swiper__btn-prev js-team-btn-prev">
          <svg>
            <use xlink:href="/img/sprite.svg#arrow3"></use>
          </svg>
        </div>
        <div class="swiper-button-next swiper__btn-next js-team-btn-next">
          <svg>
            <use xlink:href="/img/sprite.svg#arrow3"></use>
          </svg>
        </div>
      </div>

      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="team-block__slide">
            <img src="../img/team/1.jpg" alt="тренер" class="team-block__img" loading="lazy">
            <div class="team-block__descr">
              <h3 class="p2 team-block__name">Нарожная Александра Олеговна</h3>
              <p class="p4 team-block__text">
                Тренерский стаж
                <span class="yellow-box">16 лет</span>
              </p>
              <p class="p4 team-block__text">
                Старший тренер и основатель школы
              </p>
              <p class="p4 team-block__text">
                Тренер международной категории ITF Level 1
              </p>

              <div class="team-block__yellow yellow-box">
                Придумывает все сборы и мероприятия школы, обучает тренеров, создает атмосферу. Обожает и горит своим делом. Влюблена в теннис с пеленок, посещала теннисные матчи с родителями, когда сама еще не умела ходить
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="team-block__slide">
            <img src="../img/team/1.jpg" alt="тренер" class="team-block__img" loading="lazy">
            <div class="team-block__descr">
              <h3 class="p2 team-block__name">Нарожная Александра Олеговна</h3>
              <p class="p4 team-block__text">
                Тренерский стаж
                <span class="yellow-box">16 лет</span>
              </p>
              <p class="p4 team-block__text">
                Старший тренер и основатель школы
              </p>
              <p class="p4 team-block__text">
                Тренер международной категории ITF Level 1
              </p>

              <div class="team-block__yellow yellow-box">
                Придумывает все сборы и мероприятия школы, обучает тренеров, создает атмосферу. Обожает и горит своим делом. Влюблена в теннис с пеленок, посещала теннисные матчи с родителями, когда сама еще не умела ходить
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="team-block__slide">
            <img src="../img/team/1.jpg" alt="тренер" class="team-block__img" loading="lazy">
            <div class="team-block__descr">
              <h3 class="p2 team-block__name">Нарожная Александра Олеговна</h3>
              <p class="p4 team-block__text">
                Тренерский стаж
                <span class="yellow-box">16 лет</span>
              </p>
              <p class="p4 team-block__text">
                Старший тренер и основатель школы
              </p>
              <p class="p4 team-block__text">
                Тренер международной категории ITF Level 1
              </p>
              <p class="p4 team-block__text">
                Тренер международной категории ITF Level 1
              </p>
              <p class="p4 team-block__text">
                Тренер международной категории ITF Level 1
              </p>
              <div class="team-block__yellow yellow-box">
                Придумывает все сборы и мероприятия школы, обучает тренеров, создает атмосферу. Обожает и горит своим делом. Влюблена в теннис с пеленок, посещала теннисные матчи с родителями, когда сама еще не умела ходить
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="team-block__slide">
            <img src="../img/team/1.jpg" alt="тренер" class="team-block__img" loading="lazy">
            <div class="team-block__descr">
              <h3 class="p2 team-block__name">Нарожная Александра Олеговна</h3>
              <p class="p4 team-block__text">
                Тренерский стаж
                <span class="yellow-box">16 лет</span>
              </p>
              <p class="p4 team-block__text">
                Старший тренер и основатель школы
              </p>

              <div class="team-block__yellow yellow-box">
                Придумывает все сборы и мероприятия школы, обучает тренеров, создает атмосферу. Обожает и горит своим делом. Влюблена в теннис с пеленок, посещала теннисные матчи с родителями, когда сама еще не умела ходить
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="team-block__slide">
            <img src="../img/team/1.jpg" alt="тренер" class="team-block__img" loading="lazy">
            <div class="team-block__descr">
              <h3 class="p2 team-block__name">Нарожная Александра Олеговна</h3>
              <p class="p4 team-block__text">
                Тренерский стаж
                <span class="yellow-box">16 лет</span>
              </p>
              <p class="p4 team-block__text">
                Старший тренер и основатель школы
              </p>
              <p class="p4 team-block__text">
                Тренер международной категории ITF Level 1
              </p>

              <div class="team-block__yellow yellow-box">
                Придумывает все сборы и мероприятия школы, обучает тренеров, создает атмосферу. Обожает и горит своим делом. Влюблена в теннис с пеленок, посещала теннисные матчи с родителями, когда сама еще не умела ходить
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
