<section class="section team">
  <div class="container">
    <div class="team-title__block">
      <svg >
        <use xlink:href="/img/sprite.svg#ball"></use>
      </svg>
      <h2 class="h1 team__title">Наша команда</h2>
    </div>
    <ul class="list-reset team__list">
      <li class="team-item">
        <div class="team-item__img">
          <img src="/img/team/2.png" alt="Нарожная Александра Олеговна">
        </div>
        <div class="team-item__content">
          <h3 class="h3 team-item__title">Нарожная Александра Олеговна</h3>
          <div class="team-item__experience">
            <span class="p2 team-item__experience-title">Тренерский стаж</span>
            <span class="p2 team-item__experience-years">16 лет</span>
          </div>
        </div>
        <div class="team-item__description">
          <span class="p2 team-item__description-text">
            Старший тренер и основатель школы
          </span>
          <span class="p2 team-item__description-text">
            Тренер международной категории ITF Level 1
          </span>
          <span class="p2 team-item__description-text">
            111Тренер международной категории ITF Level 1
          </span>
          <span class="p2 team-item__description-text">
            1221Тренер международной категории ITF Level 1
          </span>
        </div>
      </li>
      <li class="team-item">
        <div class="team-item__img">
          <img src="/img/team/3.png" alt="Давыдова Ирина Юрьевна">
        </div>
        <div class="team-item__content">
          <h3 class="h3 team-item__title">Давыдова Ирина Юрьевна</h3>
          <div class="team-item__experience">
            <span class="p2 team-item__experience-title">Тренерский стаж</span>
            <span class="p2 team-item__experience-years">10 лет</span>
          </div>
        </div>
        <div class="team-item__description">
          <span class="p2 team-item__description-text">
            МС по теннису
          </span>
          <span class="p2 team-item__description-text">
            Была 3-й ракеткой России
          </span>
          <span class="p2 team-item__description-text">
            asd1Тренер международной категории ITF Level 1
          </span>
        </div>
      </li>
      <li class="team-item">
        <div class="team-item__img">
          <img src="/img/team/4.png" alt="Беляй Анастасия Павловна">
        </div>
        <div class="team-item__content">
          <h3 class="h3 team-item__title">Беляй Анастасия Павловна</h3>
          <div class="team-item__experience">
            <span class="p2 team-item__experience-title">Тренерский стаж</span>
            <span class="p2 team-item__experience-years">7 лет</span>
          </div>
        </div>
        <div class="team-item__description">
          <span class="p2 team-item__description-text">
            КМС по теннису
          </span>
          <span class="p2 team-item__description-text">
            Входила в топ-10 игроков Республики Беларусь
          </span>
        </div>
      </li>
      <li class="team-item">
        <div class="team-item__img">
          <img src="/img/team/5.png" alt="Сорокина Екатерина Алексеевна">
        </div>
        <div class="team-item__content">
          <h3 class="h3 team-item__title">Сорокина Екатерина Алексеевна</h3>
          <div class="team-item__experience">
            <span class="p2 team-item__experience-title">Тренерский стаж</span>
            <span class="p2 team-item__experience-years">6 лет</span>
          </div>
        </div>
        <div class="team-item__description">
          <span class="p2 team-item__description-text">
            1 взрослый разряд
          </span>
          <span class="p2 team-item__description-text">
            Спарринг-партнер девушек из сборной России по теннису на колясках
          </span>
          <span class="p2 team-item__description-text">
            1asdasdТренер международной категории ITF Level 1
          </span>
        </div>
      </li>
    </ul>
  </div>
</section>
