<section class="goals">
  <div class="container">
    <div class="goals__block">
      <div class="goals__left">
        <span class="h4 goals__pre-title">
          Дальше — больше
        </span>
        <h2 class="h1 goals__title">
          Наши цели на 2025-2026 год
        </h2>
        <img src="../img/arrow-goals.png" alt="" class="goals__img">
      </div>

      <div class="goals__right">
        <ul class="list-reset goals__list">
          <li class="p1 goals__item">
            Построить свой закрытый корт, и не один
          </li>
          <li class="p1 goals__item">
            Построить свой закрытый корт, и не один
          </li>
          <li class="p1 goals__item">
            Построить свой закрытый корт, и не один
          </li>
          <li class="p1 goals__item">
            Построить свой закрытый корт, и не один
          </li>
          <li class="p1 goals__item">
            Построить свой закрытый корт, и не один
          </li>
          <li class="p1 goals__item">
            Построить свой закрытый корт, и не один
          </li>
          <li class="p1 goals__item">
            Построить свой закрытый корт, и не один
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
