<section class="how-started">
  <div class="container">
    <div class="how-started__block">
      <div class="how-started__top">
        <div class="how-started__img">
          <img src="../img/about/about.png" alt="">
        </div>
        <div class="how-started__content">
          <h2 class="h2 how-started__title">
            Как всё начиналось
          </h2>
          <img src="../img/about/about-tablet.png" alt="">
          <p class="p1 how-started__text">
            В 2016 году мы нашли деньги и решили арендовать 8 часов кортов в неделю в Крокусе. С этого начался 10is (раньше назывался tenniscamp). Первый ученик - Дмитрий Б. оставил заявку на сайте 18 июля 2016 года. На минуточку, Дима до сих пор с нами.
          </p>
          <p class="p1 how-started__text">
            2 года мы работали на голом энтузиазме: приобретали и теряли партнеров, проводили первые сборы, искали единомышленников и «наших людей». Потом случился ковид. Мы не закрылись благодаря ЛЮДЯМ, которые очень поддержали наш проект. Это дало нам столько сил. Мы расширили команду, начали обучать новых тренеров, появились новые локации, увеличилось количество сборов и мероприятий.
          </p>
          <p class="p1 how-started__text">
            В 2023- 2024 году мы построили свой первый открытый корт и провели реконструкцию грунтового корта в Рублево, провели самый большой турнир, организовали командный турнир по чесноку, слетали на сборы в Дубае и поддержали наших теннисистов на международном турнире ATP, провели самые большие сборы в Турции. А еще желающих попасть в школу стало так много, что иногда мы открываем листы ожидания.
          </p>
        </div>
      </div>
      <div class="how-started__bottom">
        <h2 class="h2 how-started__title">
          В 2024 году мы:
        </h2>
        <ul class="list-reset how-started__list">
          <li class="how-started__item">
            <h3 class="h2 how-started__item-title">
              5
            </h3>
            <span class="h3 how-started__item-text">
              тренеров
            </span>
          </li>

          <li class="how-started__item">
            <h3 class="h2 how-started__item-title">
              4
            </h3>
            <span class="h3 how-started__item-text">
              локации
            </span>
          </li>

          <li class="how-started__item">
            <h3 class="h2 how-started__item-title">
              2
            </h3>
            <span class="h3 how-started__item-text">
              своих корта
            </span>
          </li>

          <li class="how-started__item">
            <h3 class="h2 how-started__item-title">
              20+
            </h3>
            <span class="h3 how-started__item-text">
              сборов
            </span>
          </li>

          <li class="how-started__item">
            <h3 class="h2 how-started__item-title">
              50+
            </h3>
            <span class="h3 how-started__item-text">
              проведенных мероприятий
            </span>
          </li>

          <li class="how-started__item">
            <h3 class="h2 how-started__item-title">
              500+
            </h3>
            <span class="h3 how-started__item-text">
              довольных учеников за год
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
