<section class="people">
  <div class="container">
    <div class="people__titles">
      <span class="h4 people__pre-title">
        Люди, которые любят свое дело
      </span>
      <h2 class="h1 people__title">
        Наша команда
      </h2>
    </div>
  </div>

  <div class="swiper people-slider js-people-slider">
    <div class="swiper-wrapper">

      <div class="swiper-slide people-slider__slide">
        <div class="people-slider__slide-wrapper">
          <div class="people-slider__photo">
            <img src="../img/team/team-slider-1.png" alt="title">
          </div>
          <div class="people-slider__content">
            <span class="p1 date-tab people-slider__name">
              Александр
            </span>
            <p class="p2 people-slider__text">
              Наш президент школы. Это он нашел первые деньги для старта школы. Он занимался сайтом и рекламой, потом был главным администратором школы, продавал и оформлял сборы, искал новые локации и договаривался с партнерами, снимал обалденные видео и занимался монтажом. Потом он строил корт, колотил навесы, сам ремонтировал грунт. Он принимал и сейчас принимает стратегически правильные и важные решения развития клуба. А еще у него шикарное чувство юмора и большое сердце.
            </p>
          </div>
        </div>
      </div>

      <div class="swiper-slide people-slider__slide">
        <div class="people-slider__slide-wrapper">
          <div class="people-slider__photo">
            <img src="../img/team/team-slider-1.png" alt="title">
          </div>

          <div class="people-slider__content">
            <span class="p1 date-tab people-slider__name">
              Александр
            </span>
            <p class="p2 people-slider__text">
              Наш президент школы. Это он нашел первые деньги для старта школы. Он занимался сайтом и рекламой, потом был главным администратором школы, продавал и оформлял сборы, искал новые локации и договаривался с партнерами, снимал обалденные видео и занимался монтажом. Потом он строил корт, колотил навесы, сам ремонтировал грунт. Он принимал и сейчас принимает стратегически правильные и важные решения развития клуба. А еще у него шикарное чувство юмора и большое сердце.
            </p>
          </div>
        </div>
      </div>

      <div class="swiper-slide people-slider__slide">
        <div class="people-slider__slide-wrapper">
          <div class="people-slider__photo">
            <img src="../img/team/team-slider-1.png" alt="title">
          </div>

          <div class="people-slider__content">
            <span class="p1 date-tab people-slider__name">
              Александр
            </span>
            <p class="p2 people-slider__text">
              Наш президент школы. Это он нашел первые деньги для старта школы. Он занимался сайтом и рекламой, потом был главным администратором школы, продавал и оформлял сборы, искал новые локации и договаривался с партнерами, снимал обалденные видео и занимался монтажом. Потом он строил корт, колотил навесы, сам ремонтировал грунт. Он принимал и сейчас принимает стратегически правильные и важные решения развития клуба. А еще у него шикарное чувство юмора и большое сердце.
            </p>
          </div>
        </div>
      </div>

      <div class="swiper-slide people-slider__slide">
        <div class="people-slider__slide-wrapper">
          <div class="people-slider__photo">
            <img src="../img/team/team-slider-1.png" alt="title">
          </div>

          <div class="people-slider__content">
            <span class="p1 date-tab people-slider__name">
              Александр
            </span>
            <p class="p2 people-slider__text">
              Наш президент школы. Это он нашел первые деньги для старта школы. Он занимался сайтом и рекламой, потом был главным администратором школы, продавал и оформлял сборы, искал новые локации и договаривался с партнерами, снимал обалденные видео и занимался монтажом. Потом он строил корт, колотил навесы, сам ремонтировал грунт. Он принимал и сейчас принимает стратегически правильные и важные решения развития клуба. А еще у него шикарное чувство юмора и большое сердце.
            </p>
          </div>
        </div>
      </div>
    </div>



    <div class="swiper-button-prev people__slider-btn js-people-btn-prev"></div>
    <div class="swiper-button-next people__slider-btn js-people-btn-next"></div>
  </div>
</section>
