<section class="podcasts">
  <div class="container">
    <div class="podcasts__titles">
      <p class="h4 poscasts__pretext">
        Познакомьтесь с нами ближе
      </p>
      <h2 class="h1 podcasts__title">
        Подкасты и новости
      </h2>
    </div>
    <div class="podcasts-grid">
      <div class="podcasts-grid__item">
        <img src="../img/podcasts.png" alt="title">
        <div class="podcasts-grid__content">
          <h3 class="p2 podcasts-grid__title">
            Большой теннис, Александр Нарожный
          </h3>
          <a href="#" target="_blank" class="p2 podcasts-grid__link">
            <span class="text">
              Слушать
            </span>
            <span class="icon"></span>
          </a>
        </div>
      </div>

      <div class="podcasts-grid__item">
        <img src="../img/podcasts.png" alt="title">
        <div class="podcasts-grid__content">
          <h3 class="p2 podcasts-grid__title">
            Большой теннис, Александр Нарожный
          </h3>
          <a href="#" target="_blank" class="p2 podcasts-grid__link">
            <span class="text">
              Слушать
            </span>
            <span class="icon"></span>
          </a>
        </div>
      </div>

      <div class="podcasts-grid__item">
        <img src="../img/podcasts.png" alt="title">
        <div class="podcasts-grid__content">
          <h3 class="p2 podcasts-grid__title">
            Большой теннис, Александр Нарожный
          </h3>
          <a href="#" target="_blank" class="p2 podcasts-grid__link">
            <span class="text">
              смотреть
            </span>
            <span class="icon"></span>
          </a>
        </div>
      </div>

      <div class="podcasts-grid__item">
        <img src="../img/podcasts.png" alt="title">
        <div class="podcasts-grid__content">
          <h3 class="p2 podcasts-grid__title">
            Большой теннис, Александр Нарожный
          </h3>
          <a href="#" target="_blank" class="p2 podcasts-grid__link">
            <span class="text">
              Уже скоро
            </span>
            <span class="icon"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
