<section class="principle">
  <div class="container">
    <div class="principle__block">
      <div class="principle__titles">
        <h2 class="h1 principle__title">
          Наши принципы
        </h2>
        <span class="p2 principle__text">
        тренировок
      </span>
      </div>

      <ul class="list-reset principle__list">
        <li class="principle__item">
          <div class="principle__icon">
            <svg>
              <use xlink:href="/img/sprite.svg#people"></use>
            </svg>
          </div>
          <h3 class="h4 principle__item-title">
            Результат
          </h3>
          <p class="principle__item-text">
            Вне зависимости от программы каждый ученик должен расти
          </p>
        </li>
        <li class="principle__item">
          <div class="principle__icon">
            <svg>
              <use xlink:href="/img/sprite.svg#people"></use>
            </svg>
          </div>
          <h3 class="h4 principle__item-title">
            Результат
          </h3>
          <p class="principle__item-text">
            Продуктивная, но веселая
          </p>
        </li>
        <li class="principle__item">
          <div class="principle__icon">
            <svg>
              <use xlink:href="/img/sprite.svg#people"></use>
            </svg>
          </div>
          <h3 class="h4 principle__item-title">
            Результат
          </h3>
          <p class="principle__item-text">
            Аккуратно, бережно, с максимальной заботой
          </p>
        </li>
        <li class="principle__item">
          <div class="principle__icon">
            <svg>
              <use xlink:href="/img/sprite.svg#people"></use>
            </svg>
          </div>
          <h3 class="h4 principle__item-title">
            Результат
          </h3>
          <p class="principle__item-text">
            В отношении тренера, в отношении ученика
          </p>
        </li>
        <li class="principle__item">
          <div class="principle__icon">
            <svg>
              <use xlink:href="/img/sprite.svg#people"></use>
            </svg>
          </div>
          <h3 class="h4 principle__item-title">
            Результат
          </h3>
          <p class="principle__item-text">
            На первом турнире, на тренировке… всех и всегда
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
