<section class="about-top-content">
  <div class="container">
    <div class="about-top-content__block">
      <div class="about-top-content__left">
        <p class="p1">
          Для нас 10IS это намного больше, чем школа тенниса. Я часто вспоминаю советский мультик «Чебурашка и крокодил Гена»: «Мы строили строили и наконец построили… Дом Друзей».  Так вот 10is - это Дом Друзей, которые любят теннис. Здесь люди знакомятся, общаются, встречаются, тренируются, играют вместе турниры, путешествуют с ракетками, женятся, обзаводятся детьми, приводят их в теннис, играют вместе с ними.
        </p>
        <div>
          <p class="p1">
            За 8 лет нам удалось собрать команду людей - таких разных, но до фанатизма влюбленных и увлеченных теннисом и нашим делом. Наши тренеры: строгие или веселые, активные или спокойные, требовательные или размеренные, но всегда участливые, готовые подсказать или научить, помочь и поддержать
          </p>
          <div class="date-tab h4">Ваша А.О.</div>
        </div>
      </div>

      <div class="about-top-content__right">
        <div class="polaroid about-top-content__img img1">
          <img src="/img/next-camp/img-1.jpg" alt="" class="">
        </div>
        <div class="polaroid about-top-content__img img2">
          <img src="/img/next-camp/img-2.jpg" alt="" class="">
        </div>
        <div class="polaroid about-top-content__img img3">
          <img src="/img/next-camp/img-3.jpg" alt="" class="">
        </div>
      </div>
    </div>
  </div>
</section>
