<section class="camps-list">
  <div class="container">
    <div class="camps-list__block">
      <h2 class="h1 camps-list__title">Выбирай подходящий кэмп</h2>

      <ul class="camps-list__list">
        <li class="list-reset camps-list__item js-camps-item" style="background-image: url('/img/camps/camp-1.png')">
          <div class="camps-list-top">
            <div class="camps-list-top__top">
              <date class="h4 camps-list__date">
                7 – 9 июня
              </date>
              <a href="#" class="yellow-btn camps-list__more js-camps-more-btn">
                Подробнее
                <svg>
                  <use xlink:href="/img/sprite.svg#arrow1"></use>
                </svg>
              </a>
            </div>
            <div class="camps-list-top__bottom">
              <h2 class="h3">
                ROLAND GARROS MOSCOW
              </h2>
            </div>
          </div>
          <div class="camps-list-bottom">
            <span class="h3 camps-list-bottom__price">
              22 000 руб
            </span>
            <a href="#" class="yellow-btn camps-list-bottom__link js-camps-book-btn">Забронировать</a>
          </div>
        </li>
        <li class="list-reset finished camps-list__item js-camps-item" style="background-image: url('/img/camps/camp-2.png')">
          <div class="camps-list-top">
            <div class="camps-list-top__top">
              <date class="h4 camps-list__date">
                4 – 12 июня
              </date>
              <a href="#" class="yellow-btn camps-list__more js-camps-more-btn">
                Подробнее
              </a>
            </div>
            <div class="camps-list-top__bottom">
              <h2 class="h3">
                СБОРЫ В ТУРЦИЮ
              </h2>
            </div>
          </div>
          <div class="camps-list-bottom">
            <span class="h3 camps-list-bottom__price">
              80 000 руб
            </span>
            <a href="#" class="yellow-btn camps-list-bottom__link js-camps-book-btn">Забронировать</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
