.reviews {
  overflow: hidden;
  &__title-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;

    @include tablet {
      gap: 20px;
      margin-bottom: 20px;
      max-width: unset;
    }

    & .reviews__text {
      text-align: center;
      max-width: 1258px;

      @include desktop {
        max-width: 908px;
      }
    }
  }

  // кнопка читать отзыв
  &-yandex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    @include tablet {
      gap: 30px;
    }
    @include mobile {
      flex-direction: column;
      gap: 15px;
    }

    &__left {
      display: flex;
      align-items: flex-end;
      gap: 10px;
      @include desktop {
        align-items: center;
        gap: 5px;
      }
      @include mobile {
        gap: 2px;
      }
    }

    &__logo {
      width: 23px;
      height: 43px;
      @include desktop {
        margin-top: 6px;
        width: 13px;
        height: 28px;
      }
    }

    &__rating {
      cursor: default;
      @include desktop {
        font-size: 32px;
        font-weight: 700;
        line-height: 30px;
      }
      @include mobile {
        margin-right: 3px;
      }
      &-block {
        & .stars {
          display: flex;
          gap: 4px;
          @include tablet {
            gap: 3px;
          }

          & svg {
            width: 20px;
            height: 20px;
            fill: $yellow-color;
            @include desktop {
              width: 17px;
              height: 17px;
            }
          }
        }

        & .rating {
          color: $black-color;
          cursor: default;
          @include desktop {
            display: none;
          }
        }
      }
    }

    &__link {
      padding: 18px 53px 17px;
      min-width: 239px;
      @include desktop {
        padding: 15px 57px 15px;
        min-width: 220px;
      }
      @include tablet {
        padding: 14px 54px 13px;
        min-width: 200px;
      }
    }
  }

  &__swiper {
    margin-bottom: 80px;
    padding-top: 100px;
    overflow: visible;
    @include desktop {
      margin-bottom: 60px;
      padding-top: 80px;
    }
    @include tablet {
      margin-bottom: 50px;
      padding-top: 50px;
    }
    @include mobile {
      margin-bottom: 40px;
      padding-top: 40px;
    }
  }

  & .swiper-slide {
    max-width: 700px;
    height: auto;

    @include desktop {
      max-width: 630px;
    }
    @include tablet {
      max-width: 600px;
    }
    @include mobile {
      max-width: 280px;
    }
  }

  &__slide {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 60px 50px;
    height: 100%;
    background-color: $yellow-color;
    border-radius: 40px;

    @include mobile {
      padding: 40px 30px;
      border-radius: 20px;
    }

    &::before {
      content: '';
      position: absolute;
      top: -30px;
      right: 80px;
      display: block;
      width: 90px;
      height: 68px;
      background: url("https://10is.ru/wp-content/uploads/2025/01/unnamed-file.png") no-repeat;
      background-size: contain;

      @include tablet {
        right: 60px;
      }

      @include mobile {
        top: -20px;
        right: 30px;
        width: 53px;
        height: 40px;
      }
    }
  }

  &__name {
    display: block;
    margin-bottom: 40px;

    @include desktop {
      margin-bottom: 20px;
    }
  }

  &__text {
    margin-bottom: auto;
  }

  &-pictures {
    display: flex;
    gap: 20px;
    margin-top: 40px;

    &__img {
      max-width: 248px;
      max-height: 248px;
      aspect-ratio: 1 / 1;
      border-radius: 20px;
      overflow: hidden;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;

    @include mobile {
      width: 100%;
    }
  }
}
