<section class="photo-gallery">
  <div class="container">
    <div class="photo-gallery__block">
      <div class="photo-gallery__title-block">
        <h3 class="h4 photo-gallery__pre-title">
          Наша
        </h3>
        <h2 class="h1 photo-gallery__title">
          Фотогалерея
        </h2>
        <p class="p2 photo-gallery__text">
          Немного видео и фотографий для передачи общего настроя на наших встречах!
        </p>
      </div>
      <div class="photo-gallery__photos">
        <a data-fslightbox="gallery" class="photo-gallery__photos-link" href="@img1">
          <img src="@img1" class="photo-gallery__photos-img">
        </a>
        <a data-fslightbox="gallery" class="photo-gallery__photos-link" href="@img2">
          <img src="@img2" class="photo-gallery__photos-img">
        </a>
        <a data-fslightbox="gallery" class="photo-gallery__photos-link" href="@img3">
          <img src="@img3" class="photo-gallery__photos-img">
        </a>
        <a data-fslightbox="gallery" class="photo-gallery__photos-link" href="@img4">
          <img src="@img4" class="photo-gallery__photos-img">
        </a>
        <a data-fslightbox="gallery" class="photo-gallery__photos-link" href="@img5">
          <img src="@img5" class="photo-gallery__photos-img">
        </a>
        <a data-fslightbox="gallery" class="photo-gallery__photos-link" href="@img6">
          <img src="@img6" class="photo-gallery__photos-img">
        </a>
        <a data-fslightbox="gallery" class="photo-gallery__photos-link" href="@img7">
          <img src="@img7" class="photo-gallery__photos-img">
        </a>
        <a data-fslightbox="gallery" class="photo-gallery__photos-link" href="@img8">
          <img src="@img8" class="photo-gallery__photos-img">
        </a>
      </div>
    </div>
  </div>
</section>
