<section class="reviews">
  <div class="container">
    <div class="reviews__block">
      <div class="reviews__title-block">
        <h3 class="h4 reviews__pre-title">
          Искренние
        </h3>
        <h2 class="h1 reviews__title">
          Отзывы на прошлые сборы
        </h2>
        <a href="/pages/camps.html#future-camps" class="yellow-btn reviews__link">Актуальные кэмпы</a>
      </div>
    </div>

    <div class="swiper reviews__content js-photo-reviews">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a data-fslightbox="gallery-reviews" class="reviews__photos-link" href="@img1">
            <img src="@img1" class="reviews__photos-img">
          </a>
        </div>
        <div class="swiper-slide">
          <a data-fslightbox="gallery-reviews" class="reviews__photos-link" href="@img2">
            <img src="@img2" class="reviews__photos-img">
          </a>
        </div>
        <div class="swiper-slide">
          <a data-fslightbox="gallery-reviews" class="reviews__photos-link" href="@img3">
            <img src="@img3" class="reviews__photos-img">
          </a>
        </div>
        <div class="swiper-slide">
          <a data-fslightbox="gallery-reviews" class="reviews__photos-link" href="@img4">
            <img src="@img4" class="reviews__photos-img">
          </a>
        </div>
      </div>
      <div class="swiper-pagination js-photo-reviews-pagination"></div>
    </div>
  </div>
</section>
