.prices {
  & .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    @include mobile {
      margin-bottom: 40px;
    }
  }

  &__pre-title {
    margin-bottom: 10px;
    color: $grey-color;
    text-align: center;
  }

  &__title {
    margin-bottom: 20px;
    color: $black-color;
    text-align: center;
    @include mobile {
      margin-bottom: 10px;
    }
  }

  &__post-title {
    color: $black-color;
    text-align: center;
  }

  &__list {
    display: flex;
    gap: 40px;
    width: 100%;
    margin-bottom: 60px;
    @include desktop {
      gap: 30px;
    }
    @media (max-width: 1240px) {
      flex-wrap: wrap;
      gap: 30px;
    }
    @include mobile {
      flex-direction: column;
      gap: 10px;
      margin-bottom: 20px;
    }
  }

  &-item {
    display: flex;
    flex-direction: column;
    min-height: 402px;
    padding: 50px 33px 50px 34px;
    width: calc(100% / 4);
    border: 1px solid $black-color;
    border-radius: 40px;

    @include desktop {
      padding: 50px 33px 53px 27px;
      min-height: 370px;
    }
    @media (max-width: 1240px) {
      width: calc((100% - 30px) / 2);
      border-radius: 40px;
    }
    @include tablet {
      padding: 50px 27px 46px 27px;
      min-height: 357px;
      border-radius: 40px;
    }
    @include mobile {
      padding: 40px 30px 52px;
      width: 100%;
      min-height: 301px;
      border-radius: 30px;
    }

    &:nth-child(2) {
      background-color: $black-color;

      & .prices-item__title,
      & .prices-item__post-title,
      & .prices-item__item,
      & .prices-item__price {
        color: $white-color;
      }

      & .prices-item__item::before {
        background-color: $yellow-color;
      }
    }

    &__titles {
      margin-bottom: 40px;
      @include mobile {
        margin-bottom: 20px;
      }
    }

    &__title {
      margin-bottom: 5px;
      color: $black-color;
      @include mobile {
        font-size: 24px;
        line-height: 1;
        text-align: center;
      }
    }

    &__post-title {
      display: inline-block;
      font-size: 18px;
      font-weight: 400;
      line-height: 22.64px;
      color: $black-color;
      @include desktop {
        font-size: 16px;
        line-height: 20px;
      }
      @include mobile {
        width: 100%;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: auto;
      @include mobile {
        margin-bottom: 20px;
        padding-left: 28px;
      }
    }

    &__item {
      position: relative;
      padding-left: 16px;

      @include mobile {
        font-size: 14px;
        line-height: 18px;
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 6px;
        height: 6px;
        background-color: $grey-color;
        border-radius: 100%;
        translate: 0 -50%;
      }
    }

    &__price {
      display: inline-block;
      margin-bottom: 20px;
      color: $black-color;
      white-space: nowrap;

      @include mobile {
        width: 100%;
        font-size: 24px;
        line-height: 24px;
        text-align: center;
      }
    }

    &__btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 18px 32px 17px;
      width: 100%;
      @include desktop {
        padding: 13px 20px 13px 20px;
      }
      @include tablet {
        max-width: 240px;
      }
      @include mobile {
        max-width: unset;
        width: 100%;
      }

      & svg {
        margin-top: 4px;
        width: 16px;
        height: 16px;
        fill: $black-color;
        @include desktop {
          width: 11px;
          height: 11px;
        }
      }
    }
  }

  &__bottom {
    display: inline-block;
    color: $black-color;
    @include desktop {
      font-size: 14px;
      line-height: 17.61px;
    }
    @include mobile {
      width: 100%;
      max-width: 255px;
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
      text-align: center;
    }

    & a {
      display: inline-block;
      color: $grey-color;
      border-bottom: 1px solid $grey-color;
      @include desktop {
        border: none;
      }
    }
  }
}
