<section class="section reviews">
  <div class="container">
    <div class="reviews__title-block">
      <h2 class="h1 reviews__title">
        Что о нас говорят
      </h2>
      <p class="p2 reviews__text">
        Узнайте, что говорят о нас те, кто уже тренируется в нашей школе. Мы гордимся положительными отзывами и готовы делиться ими с вами. Довольные и успешные ученики – наша главная награда. Посмотрите, что они говорят!
      </p>
    </div>
  </div>
  <div class="swiper reviews__swiper js-reviews-swiper">
    <div class="reviews__buttons">
      <div class="swiper-button-prev reviews__btn js-reviews-btn-prev">
        <svg>
          <use xlink:href="./img/sprite.svg#arrow3"></use>
        </svg>
      </div>
      <div class="swiper-button-next reviews__btn js-reviews-btn-next">
        <svg>
          <use xlink:href="./img/sprite.svg#arrow3"></use>
        </svg>
      </div>
    </div>
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="reviews__slide">
          <div class="reviews-content">
            <svg>
              <use xlink:href="img/sprite.svg#quotes"></use>
            </svg>
            <p class="h4 reviews-content__text">
              10is - место, где продают счастье по совершенно бросовой цене. Я чувствую себя счастливым от физической усталости после занятий. Чувствую счастье от получения новых навыков. Что каждую неделю у меня получается то, что не получалось неделю назад. Счастлив, что знакомлюсь с новыми потрясающими людьми, завожу новых друзей. А, вообще, теннис - это сам по себе прекрасный спорт. Ведь каждый раз, когда твоя ракетка встречается с мячиком, ты испытываешь приятные ощущения во всем теле!
            </p>
            <span class="p2 reviews-content__name">Михаил Парфенов</span>
          </div>
          <div class="reviews-pictures">
            <div class="reviews-pictures__img">
              <img src="/img/reviews/review-1-1.jpg" alt="Михаил Парфенов">
            </div>
            <div class="reviews-pictures__img">
              <img src="/img/reviews/review-1-2.jpg" alt="Михаил Парфенов">
            </div>
          </div>
          <div class="p2 reviews-fraction"></div>
        </div>
        <div class="reviews-bottom">
          <div class="reviews-bottom__left">
            <div class="reviews-bottom__logo">
              <img src="/img/yandex-logo.svg" alt="Яндекс Отзывы">
            </div>
            <div class="h2 reviews-bottom__rating">5,0</div>
            <div class="reviews-bottom__rating-block">
              <div class="stars">
                <svg>
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                <svg>
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                <svg>
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                <svg>
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                <svg>
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
              </div>
              <span class="p2 rating">52 отзыва</span>
            </div>
          </div>
          <div class="reviews-bottom__right">
            <a href="#" class="yellow-btn reviews-bottom__link">Читать отзыв</a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="reviews__slide">
          <div class="reviews-content">
            <svg>
              <use xlink:href="img/sprite.svg#quotes"></use>
            </svg>
            <p class="h4 reviews-content__text">
              Офигенная школа и тренера! Настоящие мастера! Тренировка всегда весело и продуктивно! Была в разных школах и это безусловный топ!!!!
            </p>
            <span class="p2 reviews-content__name">Дарья Чалых</span>
          </div>
          <div class="reviews-pictures">
            <div class="reviews-pictures__img">
              <img src="/img/reviews/review-2-1.jpg" alt="Дарья Чалых">
            </div>
            <div class="reviews-pictures__img">
              <img src="/img/reviews/review-2-2.jpg" alt="Дарья Чалых">
            </div>
          </div>
          <div class="p2 reviews-fraction"></div>
        </div>
        <div class="reviews-bottom">
          <div class="reviews-bottom__left">
            <div class="reviews-bottom__logo">
              <img src="/img/yandex-logo.svg" alt="Яндекс Отзывы">
            </div>
            <div class="h2 reviews-bottom__rating">5,0</div>
            <div class="reviews-bottom__rating-block">
              <div class="stars">
                <svg>
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                <svg>
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                <svg>
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                <svg>
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                <svg>
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
              </div>
              <span class="p2 rating">52 отзыва</span>
            </div>
          </div>
          <div class="reviews-bottom__right">
            <a href="#" class="yellow-btn reviews-bottom__link">Читать отзыв</a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="reviews__slide">
          <div class="reviews-content">
            <svg>
              <use xlink:href="img/sprite.svg#quotes"></use>
            </svg>
            <p class="h4 reviews-content__text">
              Лучшая школа тенниса: великолепная организация занятий, отличные турниры и неформальные встречи между ними! Каждая тренировка проходит с душой, трепет, с которым тренерский состав относится к занятиям, очень мотивирует! Мое сердце (и рука с ракеткой) навсегда отданы Анастасии Павловне - готова заниматься с ней теннисом до бесконечности!
            </p>
            <span class="p2 reviews-content__name">Анна Бучнева</span>
          </div>
          <div class="reviews-pictures">
            <div class="reviews-pictures__img horizontal">
              <img src="/img/reviews/review-3-1.jpg" alt="Анна Бучнева">
            </div>
            <div class="reviews-pictures__img">
              <img src="/img/reviews/review-3-2.jpg" alt="Анна Бучнева">
            </div>
          </div>
          <div class="p2 reviews-fraction"></div>
        </div>
        <div class="reviews-bottom">
          <div class="reviews-bottom__left">
            <div class="reviews-bottom__logo">
              <img src="/img/yandex-logo.svg" alt="Яндекс Отзывы">
            </div>
            <div class="h2 reviews-bottom__rating">5,0</div>
            <div class="reviews-bottom__rating-block">
              <div class="stars">
                <svg>
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                <svg>
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                <svg>
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                <svg>
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                <svg>
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
              </div>
              <span class="p2 rating">52 отзыва</span>
            </div>
          </div>
          <div class="reviews-bottom__right">
            <a href="#" class="yellow-btn reviews-bottom__link">Читать отзыв</a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="reviews__slide">
          <div class="reviews-content">
            <svg>
              <use xlink:href="img/sprite.svg#quotes"></use>
            </svg>
            <p class="h4 reviews-content__text">
              Мне очень зашла школа. Решил попробовать играть в теннис без особых далеко идущих планов, но команда оказалась очень классная. Ребята любят свое дело, тренировки каждый раз разные, отрабатываем новые навыки, потом возвращаемся к старым, повторяем. Общение неформальное вне тренировок, выезды, туры. Короче, школа супер, кто решил, что теннис это про него/нее (будем толерантны), то попробуйте у is10!
            </p>
            <span class="p2 reviews-content__name">Виктор Л.</span>
          </div>
          <div class="reviews-pictures">
            <div class="reviews-pictures__img horizontal">
              <img src="/img/reviews/review-4-1.jpg" alt="Виктор Л.">
            </div>
            <div class="reviews-pictures__img">
              <img src="/img/reviews/review-4-2.jpg" alt="Виктор Л.">
            </div>
          </div>
          <div class="p2 reviews-fraction"></div>
        </div>
        <div class="reviews-bottom">
          <div class="reviews-bottom__left">
            <div class="reviews-bottom__logo">
              <img src="/img/yandex-logo.svg" alt="Яндекс Отзывы">
            </div>
            <div class="h2 reviews-bottom__rating">5,0</div>
            <div class="reviews-bottom__rating-block">
              <div class="stars">
                <svg>
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                <svg>
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                <svg>
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                <svg>
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                <svg>
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
              </div>
              <span class="p2 rating">52 отзыва</span>
            </div>
          </div>
          <div class="reviews-bottom__right">
            <a href="#" class="yellow-btn reviews-bottom__link">Читать отзыв</a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="reviews__slide">
          <div class="reviews-content">
            <svg>
              <use xlink:href="img/sprite.svg#quotes"></use>
            </svg>
            <p class="h4 reviews-content__text">
              Замечательный клуб. Отличные открытые корты летом, удобные крытые зимой. Отличные тренеры - прогресс навыков ощущается из месяца в месяц. И сверх того - замечательные турниры и отличная компания. Выбирал из трех клубов в районе. Остальные не выдержали конкуренцию
            </p>
            <span class="p2 reviews-content__name">Михаил И.</span>
          </div>
          <div class="reviews-pictures">
            <div class="reviews-pictures__img">
              <img src="/img/reviews/review-5-1.jpg" alt="Михаил И.">
            </div>
            <div class="reviews-pictures__img">
              <img src="/img/reviews/review-5-2.jpg" alt="Михаил И.">
            </div>
          </div>
          <div class="p2 reviews-fraction"></div>
        </div>
        <div class="reviews-bottom">
          <div class="reviews-bottom__left">
            <div class="reviews-bottom__logo">
              <img src="/img/yandex-logo.svg" alt="Яндекс Отзывы">
            </div>
            <div class="h2 reviews-bottom__rating">5,0</div>
            <div class="reviews-bottom__rating-block">
              <div class="stars">
                <svg>
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                <svg>
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                <svg>
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                <svg>
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                <svg>
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
              </div>
              <span class="p2 rating">52 отзыва</span>
            </div>
          </div>
          <div class="reviews-bottom__right">
            <a href="#" class="yellow-btn reviews-bottom__link">Читать отзыв</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
