<section class="section reviews">
  <div class="container">
    <div class="reviews__title-block">
      <h2 class="h1 reviews__title">
        Отзывы
      </h2>
      <p class="p2 reviews__text">
        Узнайте, что говорят о нас те, кто уже тренируется в нашей школе. Мы гордимся положительными отзывами и готовы делиться ими с вами. Довольные и успешные ученики – наша главная награда. Посмотрите, что они говорят!
      </p>
    </div>

    <div class="reviews-yandex">
      <div class="reviews-yandex__left">
        <div class="reviews-yandex__logo">
          <img src="/img/yandex-logo.svg" alt="Яндекс Отзывы">
        </div>
        <div class="h2 reviews-yandex__rating">5,0</div>
        <div class="reviews-yandex__rating-block">
          <div class="stars">
            <svg>
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </div>
          <span class="p2 rating">52 отзыва</span>
        </div>
      </div>
      <div class="reviews-yandex__right">
        <a href="#" class="yellow-btn reviews-yandex__link">Читать отзывы</a>
      </div>
    </div>

    <div class="swiper reviews__swiper js-reviews-swiper">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="reviews__slide">
            <span class="h4 reviews__name">Михаил Парфенов</span>
            <p class="p2 reviews__text">
              Замечательный клуб. Отличные открытые корты летом, удобные крытые зимой. Отличные тренеры - прогресс навыков ощущается из месяца в месяц. И сверх того - замечательные турниры и отличная компания. Выбирал из трех клубов в районе. Остальные не выдержали конкуренцию
            </p>
            <div class="reviews-pictures">
              <div class="reviews-pictures__img">
                <img src="/img/reviews/review-1-1.jpg" alt="Михаил Парфенов">
              </div>
              <div class="reviews-pictures__img">
                <img src="/img/reviews/review-1-2.jpg" alt="Михаил Парфенов">
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="reviews__slide">
            <span class="h4 reviews__name">Михаил Парфенов</span>
            <p class="p2 reviews__text">
              10is - место, где продают счастье по совершенно бросовой цене.
              Я чувствую себя счастливым от физической усталости после занятий.
              Чувствую счастье от получения новых навыков. Что каждую неделю у меня получается то, что не получалось неделю назад.
              Счастлив, что знакомлюсь с новыми потрясающими людьми, завожу новых друзей.
              А, вообще, теннис - это сам по себе прекрасный спорт. Ведь каждый раз, когда твоя ракетка встречается с мячиком, ты испытываешь приятные ощущения во всем теле!
            </p>
            <div class="reviews-pictures">
              <div class="reviews-pictures__img">
                <img src="/img/reviews/review-1-1.jpg" alt="Михаил Парфенов">
              </div>
              <div class="reviews-pictures__img">
                <img src="/img/reviews/review-1-2.jpg" alt="Михаил Парфенов">
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="reviews__slide">
            <span class="h4 reviews__name">Михаил Парфенов</span>
            <p class="p2 reviews__text">
              10is - место, где продают счастье по совершенно бросовой цене.
              Я чувствую себя счастливым от физической усталости после занятий.
              Чувствую счастье от получения новых навыков. Что каждую неделю у меня получается то, что не получалось неделю назад.
              Счастлив, что знакомлюсь с новыми потрясающими людьми, завожу новых друзей.
              А, вообще, теннис - это сам по себе прекрасный спорт. Ведь каждый раз, когда твоя ракетка встречается с мячиком, ты испытываешь приятные ощущения во всем теле!
            </p>
            <div class="reviews-pictures">
              <div class="reviews-pictures__img">
                <img src="/img/reviews/review-1-1.jpg" alt="Михаил Парфенов">
              </div>
              <div class="reviews-pictures__img">
                <img src="/img/reviews/review-1-2.jpg" alt="Михаил Парфенов">
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <a href="#" class="yellow-btn reviews__btn">Записаться на тренировку</a>
  </div>
</section>
