.top-content {
  &__block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 46px;
  }

  &__left {
    max-width: 685px;
  }

  &__pre-title {
    margin-bottom: 10px;
    color: $black-color;
    cursor: default;
  }

  &__title {
    margin-bottom: 30px;
    color: $black-color;
    cursor: default;
  }

  &__text {
    color: $black-color;
    cursor: default;
  }

  &__btn {
    margin-top: auto;
    height: fit-content;
    margin-bottom: 11px;
  }
}
