<section class="section hero">
  <div class="container">
    <div class="hero__titles">
      <h1 class="h1 hero__title">
        <span>@title1</span>
        <span>@title2</span>
      </h1>
    </div>
    <div class="hero__grid">
      <div class="hero__item">
        <img src="@img1" alt="Взрослые занятия">
      </div>
      <div class="hero__item">
        <img src="@img2" alt="Взрослые занятия">
      </div>
      <div class="hero__item">
        <p class="p2 hero__text">
          @text
        </p>
        <!-- открывается попап -->
        <button class="yellow-btn hero__btn">Записаться</button>
      </div>
      <div class="hero__item">
        <img src="@img3" alt="@title1">
      </div>
    </div>
  </div>
</section>
