<section class="section steps">
  <div class="container">
    <div class="steps__block">
      <div class="steps__content">
        <h2 class="h1 steps__title">
          Как проводятся занятия
        </h2>
        <ul class="list-reset steps-list">
          <li class="steps-list__item">
            <span class="steps-list__number">
              <span>//</span> @number1
            </span>
            <h3 class="h3 steps-list__title">
              @title1
            </h3>
            <p class="p3 steps-list__text">
              @text1
            </p>
          </li>
          <li class="steps-list__item">
            <span class="steps-list__number">
              <span>//</span> @number2
            </span>
            <h3 class="h3 steps-list__title">
              @title2
            </h3>
            <p class="p3 steps-list__text">
              @text2
            </p>
          </li>
          <li class="steps-list__item">
            <span class="steps-list__number">
              <span>//</span> @number3
            </span>
            <h3 class="h3 steps-list__title">
              @title3
            </h3>
            <p class="p3 steps-list__text">
              @text3
            </p>
          </li>
          <li class="steps-list__item">
            <span class="steps-list__number">
              <span>//</span> @number4
            </span>
            <h3 class="h3 steps-list__title">
              @title4
            </h3>
            <p class="p3 steps-list__text">
              @text4
            </p>
          </li>
        </ul>
      </div>
      <div class="steps__right">
        <video src="/videos/vertical-video.mp4" preload muted controls class="steps__video" poster="/img/trainings-adults/video-poster.jpg">
          <source src="/videos/vertical-video.webm" type="video/webm">
          <source src="/videos/vertical-video.mp4" type="video/mp4">
        </video>
        <img src="/img/trainings-kids/steps.jpg" alt="Как проводятся занятия">
      </div>
    </div>
  </div>
</section>
