.banner-telegram {
  margin-bottom: 160px;
  padding-top: 92px;
  @include desktop {
    margin-bottom: 120px;
    padding-top: 71px;
  }
  @include tablet {
    margin-bottom: 100px;
    padding-top: 0;
  }

  &__block {
    position: relative;
    display: flex;
    padding: 96px 213px 99px 100px;
    min-height: 462px;
    background-color: $black-color;
    border-radius: 40px;

    @include desktop {
      padding: 82px 60px;
      min-height: 390px;
    }
    @include tablet {
      flex-direction: column;
      gap: 55px;
      padding: 100px 40px 0;
    }
    @include mobile {
      align-items: center;
      padding: 100px 20px 0;
      overflow: hidden;
      border-radius: 30px;
    }
  }

  &__content {
    max-width: 759px;
    @include desktop {
      max-width: 580px;
    }
    @include tablet {
      max-width: 90%;
    }
  }

  &__title {
    margin-bottom: 10px;
    color: $white-color;
    cursor: default;
    @include mobile {
      font-size: 24px;
      line-height: 1;
    }
  }

  &__text {
    display: inline-block;
    margin-bottom: 40px;
    color: $white-color;
    cursor: default;

    @include mobile {
      margin-bottom: 20px;
    }
  }

  &__button-block {
    position: relative;
  }

  &__link {
    min-width: 239px;
    @include desktop {
      min-width: 220px;
    }
    @include tablet {
      min-width: 200px;
    }
  }

  &__background {
    & svg {
      position: absolute;
      left: 370px;
      bottom: 4px;
      width: 134.5px;
      height: 65.4px;
      fill: $white-color;
      @include desktop {
        left: 315px;
        bottom: -11px;
      }
      @include tablet {
        left: 252px;
        bottom: -9px;
      }
      @include mobile {
        display: none;
      }

      &.mobile {
        display: none;
        @include mobile {
          display: flex;
          left: 216px;
          bottom: 10px;
          width: 42px;
          height: 30px;
        }
      }
    }
  }

  &__img-block {
    position: absolute;
    bottom: 0;
    right: 13%;
    margin-bottom: -2px;

    @include desktop {
      right: 9.2vw;
    }
    @media (max-width: 1100px) {
      right: 3vw;
    }
    @include tablet {
      position: unset;
    }
    @include mobile {
      width: 300px;
    }

    & img {
      width: 100%;
      max-height: 554px;

      @include desktop {
        max-height: 460px;
      }
      @include tablet {
        max-height: 490px;
        object-fit: contain;
      }
      @include mobile {
        max-height: 404px;
      }
    }
  }
}
