<section class="top-content">
  <div class="container">
    <div class="top-content__block">
      <div class="top-content__left">
        <date class="h4 date-tab top-content__tab">4 – 12 мая</date>
        <h1 class="h1 top-content__title">Теннисный кэмп Турция</h1>
        <p class="p1 top-content__text">У нас было 2 жарких тренировки в день по 1,5 часа, одиночный теннисный турнир, поездка на каньон, морское путешествие на яхте, теннисный квиз и самые душевные вечера с покером, мафией и другими настолками в компании лучших друзей! </p>
      </div>
      <div class="top-content__right">
        <div class="top-content__img">
          <img src="/img/camp/camp.jpg" alt="Теннисный кэмп Турция">
        </div>
      </div>
    </div>
  </div>
</section>
