// стили текста
// Заголовки

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 66px;

  @include desktop {
    font-size: 52px;
    line-height: 1;
  }
  @include tablet {
    font-size: 52px;
  }
  @include mobile {
    font-size: 40px;
  }
}

.h2 {
  font-size: 52px;
  font-weight: 700;
  line-height: 52px;

  @include tablet {
    font-size: 32px;
    line-height: 30px;
  }
  @include mobile {
    font-size: 24px;
    line-height: 1;
  }
}

.h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 30px;
  @include desktop {
    font-size: 24px;
    line-height: 1;
  }
}

.h4 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30.19px;

  @include desktop {
    font-size: 20px;
    line-height: 25.16px;
  }
  @include tablet {
    font-size: 20px;
    line-height: 25.16px;
  }
  @include mobile {
    font-size: 16px;
    line-height: 1;
  }
}

// тексты
.p1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30.19px;
  @include tablet {
    font-size: 20px;
    line-height: 25.16px;
  }
  @include mobile {
    font-size: 14px;
    line-height: 18px;
  }
}

.p2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 25.16px;
  @include desktop {
    font-size: 18px;
    line-height: 20px;
  }
  @include tablet {
    font-size: 16px;
  }
  @include mobile {
    font-size: 12px;
    line-height: 14px;
  }
}
.p3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  @include desktop {
    font-size: 16px;
    line-height: 20px;
  }
  @include tablet {
    font-size: 14px;
    line-height: 18px;
  }
  @include mobile {
    font-size: 12px;
    line-height: 14px;
  }
}

.p4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 17.61px;
  @include mobile {
    font-size: 10px;
    line-height: 12px;
  }
}

.b1 {
  font-size: 20px;
  font-weight: 400;
  line-height: 25.16px;
  @include mobile {
    font-size: 12px;
    line-height: 14px;
  }
}

// стили наведения

// todo: паддинги у кнопок разные
.yellow-btn {
  display: inline-block;
  padding: 18px 47px 17px;
  font-size: 20px;
  font-weight: 400;
  line-height: 25.16px;
  text-align: center;
  color: $black-color;
  background-color: $yellow-color;
  border-radius: 50px;
  transition: .3s ease;
  @include desktop {
    padding: 15px 57px 15px;
    font-size: 16px;
    line-height: 20px;
  }
  @include tablet {
    padding: 14px 54px 13px;
    font-size: 14px;
    line-height: 18px;
  }

  &:hover,
  &:active {
    box-shadow: 0px 5px 20px 0px #00000026;
  }

  &:disabled {
    background-color: $yellow-color-disabled;
  }
}

.black-btn {
  display: inline-block;
  padding: 18px 47px 17px;
  font-size: 20px;
  font-weight: 400;
  line-height: 25.16px;
  text-align: center;
  color: $white-color;
  background-color: $black-color;
  border-radius: 50px;
  transition: .3s ease;
  @include desktop {
    padding: 15px 57px 15px;
    font-size: 16px;
    line-height: 20px;
  }
  @include tablet {
    padding: 14px 54px 13px;
    font-size: 14px;
    line-height: 18px;
  }

  &:hover {
    color: $black-color;
    background-color: $white-color;
  }

  &:active {
    color: $black-color;
    background-color: $white-color;
    box-shadow: 0px 5px 20px 0px #00000026;
  }

  &:disabled {
    color: $white-color;
    background-color: $grey-color-disabled;
  }
}

.link {
  transition: all .3s ease;
  &:hover,
  &:active {
    color: $yellow-color;

    & svg {
      fill: $yellow-color;
      stroke: $yellow-color;
    }
  }
}

.date-tab {
  display: block;
  padding: 10px 20px;
  width: fit-content;
  color: $black-color;
  background-color: $yellow-color;
  border-radius: 50px;
}
