@import "settings";

body {
  background: #f0f0f1;
  color: #3c434a;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 13px;
  line-height: 1.4em;
  min-width: 600px;
}

.form{
  &-wrapper{
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &-group{
    display: flex;
    gap: 16px;
    align-items: flex-start;
  }
  &-control{
    width: 100%;
  }
  &-button{
    max-width: max-content;
  }
}
