@import "settings";

// подключения компонентов страницы
@import "./components/common/header";

@import "./components/pages/trainings/hero";
@import "./components/blocks/black-block";
@import "./components/pages/trainings/steps";
@import "./components/locations/locations";
@import "./components/prices/prices-four-grid";
@import "./components/reviews/reviews";
@import "./components/faq/faq";

@import "./components/common/popup";
@import "./components/common/footer";

// steps
.steps {
  &__block {
    @include tablet {
      gap: 50px;
    }
    @include mobile {
      gap: 40px;
    }
  }

  &__title {
    max-width: unset;
    @include desktop {
      max-width: 80%;
    }
  }

  &__content {
    width: 100%;
    max-width: 700px;

    @include desktop {
      width: 60%;
    }
    @include tablet {
      width: 100%;
    }
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 82px 60px;

    @include tablet {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    &__item {
      width: 100%;
    }
  }

  &__right {
    width: 40.3%;
    @include tablet {
      width: 100%;
      max-width: unset;
    }
    @include mobile {
      position: unset;
      left: 0;
    }
    & video {
      display: none;
    }
    & img {
      display: flex;
      height: 100%;
      border-radius: 40px;
    }
  }
}
