<section class="section steps">
  <div class="container">
    <div class="steps__block">
      <div class="steps__content">
        <h2 class="h1 steps__title">
          Как проводятся занятия
        </h2>
        <ul class="list-reset steps-list">
          <li class="steps-list__item">
            <span class="steps-list__number">
              <span>//</span> 01
            </span>
            <h3 class="h3 steps-list__title">
              Разминка
            </h3>
            <p class="p3 steps-list__text">
              Первые 5-10 минут занятия посвящены активной разминке. Включает в себя пробежку, вращения суставов, игровые и беговые упражнения с мячом, лесенку
            </p>
          </li>
          <li class="steps-list__item">
            <span class="steps-list__number">
              <span>//</span> 02
            </span>
            <h3 class="h3 steps-list__title">
              Техника
            </h3>
            <p class="p3 steps-list__text">
              На этом этапе группа проходит определенные технические элементы, такие как удары справа/слева (форхенд/бекхенд), правильный подход к мячу, удары слета/смеш, резаные и укороченные удары
            </p>
          </li>
          <li class="steps-list__item">
            <span class="steps-list__number">
              <span>//</span> 03
            </span>
            <h3 class="h3 steps-list__title">
              Игра
            </h3>
            <p class="p3 steps-list__text">
              Во второй половине тренировки группа отрабатывает технические элементы в игре на счет. Это могут быть командные упражнения, парная или одиночная игра
            </p>
          </li>
        </ul>
      </div>
      <div class="steps__right">
        <video src="/videos/vertical-video.mp4" preload muted controls class="steps__video" poster="/img/trainings-adults/video-poster.jpg">
          <source src="/videos/vertical-video.webm" type="video/webm">
          <source src="/videos/vertical-video.mp4" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
</section>
